---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Bootstrap/Card.astro";
import CardImage from "../../components/Bootstrap/CardImage.astro";
---

<Layout>
    <div>
        <br />

        <div class="d-flex justify-content-center" style="color: white">
            <h1>Σχετικά με εμάς</h1>
        </div>

        <br />
        <br />

        <div class="d-flex justify-content-center" data-bs-theme="dark">
            <div class="row">
                <div class="col-6">
                    <Card
                        card_title="Ποιοί είμαστε"
                        card_subtitle="Ποιοί είμαστε"
                        card_link_visible={false}
                    >
                        Το Simplified Coding είναι μια ιστοσελίδα εκμάθησης
                        προγραμματισμού στα Ελληνικά, εντελώς δωρεάν, χωρίς
                        διαφημίσεις ή συνδρομές. Η ιστοσελίδα μας γεννήθηκε τον
                        Σεπτέμβριο 2022, στην Επανομή Θεσσαλονίκης, όπου οι
                        ιδρυτές μας, Οδυσσέας και Νίκος, ήθελαν να δημιουργήσουν
                        μια ιστοσελίδα για την εκμάθηση προγραμματισμού. Πλέον η
                        ομάδα μας αποτελείται από τον Οδυσσέα, Νίκο και Μάριο,
                        μαθητές της δευτεροβάθμιας εκπαίδευσης στα Ελληνικά
                        σχολεία. Στις 2 Μαΐου 2023, το Simplified Coding άρχισε
                        να υποστηρίζετε (Fiscally Sponsored) από το Hack Club
                        Bank, ένα έργο του The Hack Foundation (γνωστού και ως
                        Hack Club), ενός μη κερδοσκοπικού οργανισμού 501(c)(3)
                        στις Η.Π.Α. (EIN: 81-2908499). Αργότερα, τον Απρίλιο η
                        ομάδα του Simplified Coding, ίδρυσε το Test Wiz το οποίο
                        έγινε θυγατρική του Simplified Coding.
                    </Card>
                </div>

                <div class="col-6">
                    <Card
                        card_title="Ο στόχος μας"
                        card_subtitle="Ο στόχος μας"
                        card_link_visible={false}
                    >
                        Ο στόχος του Simplified Coding είναι να παρέχει μαθήματα
                        προγραμματισμού εντελώς δωρεάν για όλους. Αυτό γιατί
                        πιστεύουμε ότι ο προγραμματισμός είναι μία από τις πιο
                        σημαντικές δεξιότητες που μπορεί κάποιος να αναπτύξει,
                        ανεξαρτήτως του τομέα στον οποίο θέλει να
                        εργαστεί/εργάζεται. Το πρόβλημα είναι πως Ελληνικό
                        Διαδίκτυο, υπάρχουν ελάχιστες πηγές εκμάθησης κώδικα και
                        οι περισσότερες από αυτές περιέχουν διαφημίσεις ή δεν
                        είναι εντελώς δωρεάν. Γι’ αυτό το Simplified Coding θα
                        είναι πάντα δωρεάν και δεν θα έχει κανενός είδους
                        διαφημίσεις ή κέρδος έκτος από τις δωρεές που
                        λαμβάνουμε. Θέλουμε το Simplified Coding να διαδοθεί
                        στην Ελληνική κοινότητα και να μπορέσουμε να διαδώσουμε
                        τον προγραμματισμό σε όλους.<br /><br />
                    </Card>
                </div>
            </div>
        </div>

        <div>
            <CardImage card_title=""></CardImage>
        </div>
    </div>

    <!-- Spacing for footer -->
    <br />
    <br />
</Layout>
