<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>
SPDX-License-Identifier: GPL-3.0-only
-->
---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div id="doc-body">
    <div>
      <br/>
      <div class="d-flex justify-content-center" style="color: white">
        <h1> Σχετικά με εμάς </h1>
      </div>
      <br/>
      <br/>

      <script>

          function animateCounter(element, start, end, duration) {        // element = targeted div, start = starting number (usually 0), end = number that we want it to count to, duration = the time that we want to do it (I made it to be customizable because there is a big diff in the values of the numbers that want to print)
              let current = start;                                        // Make a local (I think that's how it works. It may be useless but...) variable to use in this function only
              let increment = (end - start) / (duration / 20);            // Not that simple calculations for beginners (it took 20 mins)
              let interval = setInterval(() => {
                  current += increment;                                   // Yes, an easy one, we do a ++ here. This is the 1st arguments for the setInterval. This is the time between the executions of this function.
                  element.innerText = Math.floor(current);                // Here I print the number (the 2nd argument)
                  
                  if (current >= end) {                                   // Checks if it reaches the targeted number (confession: I can remember what this does, but I just want to have a comment in each line)
                      element.innerText = end;                            // Set the element to the target number
                      clearInterval(interval);                            // Stops everything when it reaches the desired number
                  }
              }, 20);
          }


          function isElementInViewport(element) {                               // In this function we check if the user have loaded 
            let rect = element.getBoundingClientRect();                         // Checks the position (and the size) of the element
            return rect.top < window.innerHeight && rect.bottom > 0;            // Checks if it is loaded by comparing the distance of the element from top of the window with the window's height and also checks if the element is over the bottom (inside the screen). (if it doesn't work I want use stackoverflow again)
          }


          //The main function which do the most things here
          function animation(target, start, end, duration) {

            let counterElement = document.getElementById(target);            // Sets as our targeted element the element with id="counter"
            let hasAnimated = false;                                            // States that the animation hasn't already happened


            window.addEventListener("scroll", function() {                      // Scroll is the way that the event listener gets triggered and the function that will be executed every time that the "scroll" argument is true
              if (isElementInViewport(counterElement) && !hasAnimated) {        // Checks if the element is loaded and haven't been animated before
                  animateCounter(counterElement, start, end, duration);         // Call the function in order to animate things
                  hasAnimated = true;                                           // Sets the hasAnimated variable to true so it doesn't get reanimated unlit it gets unloaded
              } else if (!isElementInViewport(counterElement) && hasAnimated) { // If the element is out of the screen we flag it as "Not Animated"
                  hasAnimated = false;                                          // Reset animation flag if out of view
              }
            });

          }

          animation("counter1", 0, 66, 2000);
          animation("counter2", 0, 85, 3000);
          animation("counter3", 0, 714, 4000);
          animation("counter4", 0, 67, 3000);  

      </script>

  </div>


<table>

  <tbody>

    <tr>

      <td>
        <div class="card mx-12 my-6 max-w-xl text-lg font-normal bg-violet-700 px-3">
          <h2 class="card_title"> Ποιοί είμαστε; </h2>
          <br/>
            Το Simplified Coding είναι μια ιστοσελίδα εκμάθησης
            προγραμματισμού στα Ελληνικά, εντελώς δωρεάν, χωρίς
            διαφημίσεις ή συνδρομές. Η ιστοσελίδα μας γεννήθηκε
            τον Σεπτέμβριο 2022, στην Επανομή Θεσσαλονίκης, όπου
            οι ιδρυτές μας, Οδυσσέας και Νίκος, ήθελαν να
            δημιουργήσουν μια ιστοσελίδα για την εκμάθηση
            προγραμματισμού. Πλέον η ομάδα μας αποτελείται από
            τον Οδυσσέα, Νίκο και Μάριο, μαθητές της
            δευτεροβάθμιας εκπαίδευσης στα Ελληνικά σχολεία.
            Στις 2 Μαΐου 2023, το Simplified Coding άρχισε να
            υποστηρίζετε (Fiscally Sponsored) από το Hack Club
            Bank, ένα έργο του The Hack Foundation (γνωστού και
            ως Hack Club), ενός μη κερδοσκοπικού οργανισμού
            501(c)(3) στις Η.Π.Α. (EIN: 81-2908499).<br/><br/>
        </div>
      </td>

      <td>
        <div class="card mx-12 my-6 max-w-xl text-lg font-normal bg-violet-700 px-3">
          <h2 class="card_title"> Ο στόχος μας </h2>
          <br/>
          Ο στόχος του Simplified Coding είναι να παρέχει
          μαθήματα προγραμματισμού εντελώς δωρεάν για όλους.
          Αυτό γιατί πιστεύουμε ότι ο προγραμματισμός είναι
          μία από τις πιο σημαντικές δεξιότητες που μπορεί
          κάποιος να αναπτύξει, ανεξαρτήτως του τομέα στον
          οποίο θέλει να εργαστεί/εργάζεται. Το πρόβλημα είναι
          πως Ελληνικό Διαδίκτυο, υπάρχουν ελάχιστες πηγές
          εκμάθησης κώδικα και οι περισσότερες από αυτές
          περιέχουν διαφημίσεις ή δεν είναι εντελώς δωρεάν.
          Γι’ αυτό το Simplified Coding θα είναι πάντα δωρεάν
          και δεν θα έχει κανενός είδους διαφημίσεις ή κέρδος
          έκτος από τις δωρεές που λαμβάνουμε. Θέλουμε το
          Simplified Coding να διαδοθεί στην Ελληνική
          κοινότητα και να μπορέσουμε να διαδώσουμε τον
          προγραμματισμό σε όλους.<br/><br><br>
        </div>
      </td>

    </tr>

    <tr>

      <td>
        <div class="card max-w-xl px-3">
          <h2 class="card_title"> Τα στατιστικά μας </h2>
          <br/>
          Η ομάδα μας έχει αφιερώσει πολλές ώρες στην ανάπτυξη αυτής της ιστοσελίδας της οποίας τα στατιστικά βρίσκονται και πηγάζουν από
          την πλατφόρμα του GitHub. Παρακάτω θα βρείτε μερικά από τα κυριότερα στατιστικά για την ιστοσελίδα μας:
          <div class="statistics font-semibold text-2xl">

            <br/><i class="fa-solid fa-check fa-2x"></i>
            Κλειστά αιτήματα (Closed GitHub Issues): <br/><br/> <div id="counter1"> 0 </div><br>

            <br/> <i class="fa-solid fa-circle-exclamation fa-2x"></i>
            Συνολικά αιτήματα (GitHub Issues): <br/><br/> <div id="counter2"> 0 </div><br>

            <br/> <i class="fa-solid fa-code-commit fa-2x"></i>
            Ενημερώσεις (Commits): <br/><br/> <div id="counter3"> 0 </div><br>

            <br/> <i class="fa-solid fa-code-branch fa-2x"></i>
            Γραμμές κώδικα που γράψαμε: <br/><br/> <div style="display: inline-block" id="counter"> > </div> <div id="counter4" style="display: inline-block"> 0 </div> <div style="display: inline-block" id="counter"> .000 </div> <br><br>

          </div>
          <br/>
        </div>
      </td>

      <td>
        <div class="card timeline_card my-6 max-md text-lg font-normal bg-violet-700 max-w-3xl">
          <div class="timeline_card">
          <h2 class="card_title"> Η χρονογραμμή μας </h2>
          <br/>
          Όπως προαναφέραμε στο "Ποιοί είμαστε" η ιστοσελίδα δημιουργήθηκε τον Σεπτέμβριο του 2022. Από τότε, στην ιστοσελίδα μας
          υπήρξαν πολλές διαφορές αλλά και πολλές νέες λειτουργίες. Όλες τις πληροφορίες για αυτό το timeline αντλήθηκαν από την
          σελίδα του Github: Network Graph. Σε αυτό το timeline μπορείς να ανακαλύψεις την εξέλιξη της ιστοσελίδας
          μας από την αρχή μέχρι και σήμερα αλλά και μελλοντικές αλλαγές που θέλουμε να κάνουμε στο Simplified Coding:</div>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <div class="timeline">
            <div id="v-rule"></div>

            <div class="container left">
              <div class="content">
                  <h2> 10 Σεπτεμβρίου 2022 </h2>
                  <p> H δημιουργία του repository της ιστοσελίδας μας στο GitHub. </p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2> 30 Σεπτεμβρίου 2022 </h2>
                <p> Δημιουργία  των πρώτων 3ων μαθημάτων για την αρχική σειρά μαθημάτων Python. Τα μαθήματα βρίσκοντας στην πρώιμη μορφή τους ως παρουσιάσεις και όχι όπως είναι σήμερα σε μορφή αρχείου.</p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2> 29 Δεκεμβρίου 2022 </h2>
                <p> Λίγο πριν το τέλος τις χρονιάς, είχαμε ολοκληρώσει την δημιουργία μαθημάτων για την σειρά της Python, είχαμε προσθέσει quizzes σε κάθε μάθημα αλλά και είχαμε διορθώσει τα περισσότερα λάθη και bugs στην ιστοσελίδα μας.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2> 12 Ιανουαρίου 2023</h2>
                <p> Η νέα χρονιά για εμάς ξεκίνησε με την προσθήκη μίας κάρτας για δωρεές. Τώρα πιά μπορείτε να βρείτε την σελίδα των δωρεών εδώ. </p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2> Μάιος 2023 </h2>
                <p> Αυτόν τον μήνα έγιναν πολλές αλλαγές. Αρχικά αλλάξαμε το Licence και δημιουργήσαμε το security policy της ιστοσελίδας μας. Ακόμα διορθώσαμε πολλές λάθη από μαθήματα, σελίδες και κάρτες που δημιουργήσαμε την περίοδο Φεβρουαρίου-Μαΐου. Τέλος αρχίσαμε να πειραματιζόμαστε και στον νέο τρόπο παρουσίασης των μαθημάτων (Αρχεία Markdown αντί παρουσιάσεων). </p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2> Ιούνιος 2023 </h2>
                <p> Οι αλλαγές στην ομάδα του Simplified Coding φέρνουν αλλαγές και στο ίδιο το Simplified Coding. Μέσα σε έναν μήνα έγιναν τόσες αλλαγές που να μην μπορούν να αναφερθούν όλες εδώ. Η βασικότερη αλλαγή είναι η προσθήκη ενός editor μέσα στα μαθήματα python και HTML που δίνει την δυνατότητα στον χρήστη να μην χρειάζεται να κατεβάσει τίποτα στον υπολογιστή. Ακόμα κατά αυτό τον μήνα αλλάξαμε την σειράς μαθημάτων HTML αλλά και η μετατροπή τους σε Markdown αρχεία. Τέλος φτιάξαμε μία σελίδα όπου ο χρήστης βλέπει όλα τα μαθήματα πιο οργανωμένα, την οποία αλλαγή ακολούθησε η αλλαγή στην CSS όλης της ιστοσελίδας. </p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2> Ιούλιος 2023 </h2>
                <p> Το καλοκαίρι συνεχίζει οπότε και εμείς συνεχίζουμε με τις αλλαγές στην ιστοσελίδα μας. Αν και όλα συνέβαιναν σε ξεχωριστό branch και η ιστοσελίδα δεν είχε καμία διαφορά οι αλλαγές ήταν καθημερινές. Αρχικά προσθέσαμε σειρές μαθημάτων CSS JavaScript αλλά και Arduino. Μέσα στον ίδιο μήνα επίσης κάναμε polishing αλλά και διόρθωση γραμματικών και ορθογραφικών στα μαθήματα αλλά και σε όλη την ιστοσελίδα. Μία ακόμα μικρή αλλαγή που κάναμε ήταν η προσθήκη περιγραφών στα μαθήματα και η δημιουργία Navbar. </p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2> Αύγουστος 2023</h2>
                <p> Πλησιάζοντας στα γενέθλια του Simplified Coding αλλά και στο τέλος του καλοκαιριού, βάζαμε τις τελικές προσθήκες στην ιστοσελίδα για το καλοκαίρι. Στην αρχές του μήνα κάναμε polishing στις σειρές των μαθημάτων που έτρεχαν εκείνη την περίοδο (Javascript & Arduino). Ακόμα προσθέσαμε την news page στην οποία βρίσκονταν η νεα δυνατότητα που είχαν οι χρήστες να λαμβάνουν μηνιαίο newsletter με τις αλλαγές και να νεα της ιστοσελίδας μας. Αμέσως μετά ήρθαν οι αλλαγές και στην ιστοσελίδα. Στις 8 Αυγούστου όλες αυτές οι αλλαγές μηνών εμφανίστηκαν στην ιστοσελίδα. Μετά από ένα σύντομο διάλειμμα 2 εβδομάδων αρχίσαμε να δουλεύουμε σε νέες αλλαγές ξεκινώντας από την χρήση astro σε όλη την ιστοσελίδας μας.  </p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2> Φθινόπωρο 2023 </h2>
                <p> Δυστυχώς και προλάβαμε να φτιάξουμε μία επετειακή version του Simplified Coding αλλά χρησιμοποιήσαμε αυτόν τον χρόνο για να σκεφτούμε νέες ιδέες, αλλά και να τις υλοποιήσουμε.  Όπως πάντα αρχίσαμε και αυτή την περίοδο με την διόρθωση γραμματικών και συντακτικών λαθών όπως και λάθη μέσα στον κώδικα πολλών σελίδων. Αμέσως μετά άρχισε η ανάπτυξη μία ακόμα βοηθητική για αρχάριους σειρά μαθημάτων...αυτή του Git & Github. </p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2> Ιανουάριος-Μάιος 2024 </h2>
                <p> Νέο έτος, νέες αλλαγές (και μάλιστα πολλές). Αρχικά προσθέσαμε ένα νέο progress bar στα μαθήματα ώστε να είναι ευκολότερο για όλους να κρατάνε μια σειρά στο πως κάνουν τα μαθήματα. Ακόμα προσθέσαμε ένα roadmap για όποιον δεν θέλει να μάθει κάτι συγκεκριμένο αλλά θέλει να τα μάθει όλα με μια λογική (και με αυξανόμενης δυσκολίας) σειρά. Επιπλέον, προσθέσαμε ένα ακόμα μάθημα (την C++) για να διευκολύνουμε την εκμάθηση της σειράς Arduino. Τέλος, προσθέσαμε και ακόμα 2 μαθήματα html για να έχουμε μια πιο ολοκληρωμένη σειρά. </p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2> Ιούνιος-Ιούλιος 2024 </h2>
                <p> Άλλο ένα καλοκαίρι άρα και άλλη μια περίοδος παραγωγικότητας και αλλαγών. Το καλοκαίρι μας βρήκε με πάνω από 20 issues στα οποία ακόμα εργαζόμαστε επάνω. Αρχίσαμε με την ανανέωση των μαθημάτων HTML. Παράλληλα δουλεύουμε στην καινούργια σελίδα για δωρεές αλλά και την ανανέωση όλων των σελίδων (σελίδα μαθημάτων, about us σελίδα και την σελίδα των News) αλλά και διάφορων στοιχείων (navbar & footer). Τέλος, αρχίσαμε ένα μεγάλο έργω μετάφρασης της σελίδας από bootstrap σε tailwind για μια καλύτερη εμπειρία του χρήστη αλλά και ευκολία στην δημιουργία της ιστοσελίδας για την γρηγορότερη ανάπτυξή της. </p>
              </div>
            </div>
            <div class="container right">
              <div class="content future">
                <h2> Αύγουστος 2024 </h2>
                <p> Για το καλοκαίρι θα αφιερώσουμε χρόνο μας να τελειοποιήσουμε τα issues που έχουμε ανοίξει για μια καλύτερη εμπειρία των χρηστών το συντομότερο δυνατόν. Ακόμα, θα προσθέσουμε νέες σειρές advanced μαθημάτων σε HTML και Python. (Και ίσως μία εορταστική εβδομάδα για τα 2α γενέθλιά του Simplified Coding, no spoilers) </p>
              </div>
            </div>
            <div class="container left">
              <div class="content future">
                <h2> Σεπτέμβριος-Δεκέμβριος 2024 </h2>
                <p> Η χρονιά μας θα θέλαμε να κλείσει έχοντας κλείσει σχεδόν όλα τα issues και έχοντας προσθέσει 5-6 ακόμα σειρές μαθημάτων. Επιπλέον θα έχουμε νέες δυνατότητες στην ιστοσελίδα και νέα projects σε κάθε μάθημα. Τέλος, κύριο μέλημά μας είναι η ομαλή λειτουργία της ιστοσελίδας χωρίς bugs και λάθη σε κώδικα ή μαθήματα. </p>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<style>

  .card_title{
    margin-top: 20px;
  } 


  .card {
    margin: 1rem 3rem;
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 400;

    background-color: #212529;
    color: #ADB5AF;
  }

  .timeline_card {
    padding-left: 8px;
    padding-right: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #value {
    padding-left: 0;
    font-size: 64px;
    font-weight: 700;
  }
  .statistics {
    font-size: 28px;
    font-weight: 700;
  }
  #counter, #counter1, #counter2, #counter3, #counter4{
    font-size: 64px;
    font-weight: 800;
  }
  .content{
    padding-left: 5px;
    padding-right: 5px;
  }

  
  .timeline {
    position: absolute;
    overflow-y: scroll;
    max-width: 700px;
    max-height: 700px;
    width: 700px;

    margin-top: 20vw;

    font-size: 14px;
    color: rgb(255, 249, 241);
  }

  .container {
  padding: 8px;
  position: relative;
  }

  .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -28px;
  background-color: rgb(79, 40, 134);
  border: 4px solid #4378c8;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  }

  .right::after {
  right: 326px;
  }

  /* The actual content */
  .content {
  padding: 10px 10px;
  background-color: rgb(102, 51, 153);
  position: relative;
  border-radius: 7px;
  }
  .future {
  background-color: rgb(118, 59, 178);
  }

  .content h2{
  font-size: 27px;
  font-weight: 600;
  }

  @media screen and (max-width: 100px) {
  /* Place the timeline to the left */
  .timeline::after {
  left: 30px;
  }
  } 

  .container {
  width: 60%;
  }

  .container::before {
  left: 0;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }
  .left {
  padding-left: 90px;
  padding-right: 10px;
  margin-left: 95px;

  left: -180px;
  width: 400px;
  }
  .right {
  padding-left: 100px;
  padding-right: 10px;

  left: 18.6%;
  width: 400px;
  }
  
  #v-rule {
  border-left: 6px solid rgb(79, 39, 135);
  height: 5200px;
  position:absolute;
  left: 48%;
  width: 340px;
  }
</style>

<!-- Spacing for footer -->
<br/>
<br/>