<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Bootstrap/Card.astro";
---

<Layout>
  <div id="doc-body">
    <div>
      <br/>

      <div class="d-flex justify-content-center" style="color: white">
        <h1>Σχετικά με εμάς</h1>
      </div>

      <br/>
      <br/>

      <div class="p-2 d-flex justify-content-center" data-bs-theme="dark">
        <div class="row">
          <div class="col-12">
            <Card
              card_title="Ποιοί είμαστε"
              card_link_visible={false}
            ><br/>
              Το Simplified Coding είναι μια ιστοσελίδα εκμάθησης
              προγραμματισμού στα Ελληνικά, εντελώς δωρεάν, χωρίς
              διαφημίσεις ή συνδρομές. Η ιστοσελίδα μας γεννήθηκε
              τον Σεπτέμβριο 2022, στην Επανομή Θεσσαλονίκης, όπου
              οι ιδρυτές μας, Οδυσσέας και Νίκος, ήθελαν να
              δημιουργήσουν μια ιστοσελίδα για την εκμάθηση
              προγραμματισμού. Πλέον η ομάδα μας αποτελείται από
              τον Οδυσσέα, Νίκο και Μάριο, μαθητές της
              δευτεροβάθμιας εκπαίδευσης στα Ελληνικά σχολεία.
              Στις 2 Μαΐου 2023, το Simplified Coding άρχισε να
              υποστηρίζετε (Fiscally Sponsored) από το Hack Club
              Bank, ένα έργο του The Hack Foundation (γνωστού και
              ως Hack Club), ενός μη κερδοσκοπικού οργανισμού
              501(c)(3) στις Η.Π.Α. (EIN: 81-2908499).<br/><br/>
            </Card>
          </div>

          <div class="col-12">
            <Card
              card_title="Τα στατιστικά μας:"
              card_link_visible={false}
            >
            Η ομάδα μας έχει αφιερώσει πολλές ώρες στην ανάπτυξη αυτής της ιστοσελίδας της οποίας τα στατιστικά βρίσκονται και πηγάζουν από
            την πλατφόρμα του GitHub. Παρακάτω θα βρείτε μερικά από τα κυριώτερα στατιστικά για την ιστοσελίδα μας:
            <div id="statistics">
              <br/><i class="fa-solid fa-code-commit fa-2x"></i>
              Total commits: <div id="counter">100</div> 
              <br/> <i class="fa-solid fa-code-branch fa-2x"></i>
              Braches created: <div id="counter">100</div>
              <br/> <i class="fa-brands fa-github fa-2x"></i>
              Issues opened: <div id="counter">100</div>
              <br/> <i class="fa-brands fa-github fa-2x"></i>
              Issues closed: <div id="counter">100</div>
            </div>
            <br/>
            </Card>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <Card
              card_title="Ο στόχος μας"
              card_link_visible={false}
            ><br/>
            Ο στόχος του Simplified Coding είναι να παρέχει
            μαθήματα προγραμματισμού εντελώς δωρεάν για όλους.
            Αυτό γιατί πιστεύουμε ότι ο προγραμματισμός είναι
            μία από τις πιο σημαντικές δεξιότητες που μπορεί
            κάποιος να αναπτύξει, ανεξαρτήτως του τομέα στον
            οποίο θέλει να εργαστεί/εργάζεται. Το πρόβλημα είναι
            πως Ελληνικό Διαδίκτυο, υπάρχουν ελάχιστες πηγές
            εκμάθησης κώδικα και οι περισσότερες από αυτές
            περιέχουν διαφημίσεις ή δεν είναι εντελώς δωρεάν.
            Γι’ αυτό το Simplified Coding θα είναι πάντα δωρεάν
            και δεν θα έχει κανενός είδους διαφημίσεις ή κέρδος
            έκτος από τις δωρεές που λαμβάνουμε. Θέλουμε το
            Simplified Coding να διαδοθεί στην Ελληνική
            κοινότητα και να μπορέσουμε να διαδώσουμε τον
            προγραμματισμό σε όλους.<br/>
            </Card>
          </div>

          <div class="col-12">
            <Card
              card_title="Χρονογραμμή"
              card_link_visible={false}
            >
            Όπως προαναφέραμε στο "Ποιοί είμαστε" η ιστοσελίδα δημιουργείθηκε τον Σεπτέμβριο του 2022. Από τότε, στην ιστοσελίδα μας
            υπήρξαν πολλές διαφορές αλλά και πολλές νέες λειτουργείες. Σε αυτό το timeline μπορείς να ανακλύψεις την εξέλιξη της ιστοσελίδας
            μας από την αρχή μέρχι και σήμερα αλλά και μελλοντικές αλλαγές που θέλουμε να κάνουμε στο Simplified Coding:
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="timeline">
              <div id="v-rule"></div>
              <div class="container left">
                  <div class="content">
                      <h2>2017</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
              </div>
              <div class="container right">
                  <div class="content">
                      <h2>2016</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                          <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                          </div>
                          <div class="offcanvas-body">
                            <div>
                              Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                            </div>
                            <div class="dropdown mt-3">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                                Dropdown button
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
              <div class="container left">
                  <div class="content">
                      <h2>2015</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
              </div>
              <div class="container right">
                  <div class="content">
                      <h2> Σεπτέμβριος 2022</h2>
                      <p> Δημιουργεία </p>
                  </div>
              </div>
              <div class="container left">
                  <div class="content">
                      <h2>2011</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
              </div>
              <div class="container right">
                  <div class="content">
                    <h2>2007</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
              </div>
          </div>
            <br/>
            </Card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .col-12 {
      margin-left: 15px;
      margin-right: 13px;
      margin-top: 25px;
      margin-bottom: 25px;
      max-width: 750px;
      font-size: 18px;
      font-weight: 400;
    }
    #value {
      padding-left: 0px;
      font-size: 64px;
      font-weight: 700;
    }
    #statistics {
      font-size: 28px;
      font-weight: 700;
    }
    #counter{
      font-size: 64px;
      font-weight: 800;
    }
    .timeline {
      position: absolute;
      max-width: 730px;
      overflow-y: scroll;
      max-height: 750px;
      margin-top: -40.5vw;
      margin-left: -1vw;
      font-size: 14px;
      color: rgb(255, 249, 241);
    }


    .container {
      padding: 10px;
      position: relative;
      width: 60%;
    }

    .container::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -25px;
      background-color: rgb(79, 39, 135);
      border: 4px solid #4378c8;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }

    .right::after {
      right: 331px;
    }

    /* The actual content */
    .content {
      padding: 20px 10px;
      background-color: rgb(123, 50, 197);
      position: relative;
      border-radius: 7px;
    }

    @media screen and (max-width: 100px) {
    /* Place the timelime to the left */
      .timeline::after {
        left: 30px;
      }
    } 

      .container {
        width: 60%;
      }

    .container::before {
      left: 0px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
    .left {
      left: -180px;
      padding-left: 90px;
      margin-left: 100px;
      padding-right: 30px;
    }
    .right {
      padding-left: 100px;
      padding-right: 10px;
      left: 20%;
      width: 410px;
    }
    #v-rule {
      border-left: 6px solid rgb(79, 39, 135);
      height: 1400px;
      position:absolute;
      left: 50%;
      width: 340px;
    }
  </style>



  <script>
    let counts = setInterval(updated);
        let upto = 0;
        function updated() {
            let count = document.getElementById("counter");
            count.innerHTML = ++upto;
            if (upto === 100) {
                clearInterval(counts);
            }
        }
  </script>
  <!-- Spacing for footer -->
  <br/>
  <br/>
</Layout>