<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Bootstrap/Card.astro";
---

<Layout>
  <div id="doc-body">
    <div>
      <br/>

      <div class="d-flex justify-content-center" style="color: white">
       <h1 class="font-semibold text-center text-6xl text-sc-purple-light"> Σχετικά με εμάς </h1>
      </div>

      <br/>
      <br/>

        <table>
          <tbody>
            <tr>
              <td>
                <div class="ml-10 my-8 max-w-screen-lg text-lg font-normal bg-sc-card-bg text-slate-300 px-4 py-3 rounded-2xl">

                  <h2 class="bg-sc-card-header text-center rounded-md py-3 font-semibold text-2xl"> Ποιοι είμαστε </h2>
                  <br/>
                    Το Simplified Coding είναι μια ιστοσελίδα εκμάθησης
                    προγραμματισμού στα Ελληνικά, εντελώς δωρεάν, χωρίς
                    διαφημίσεις ή συνδρομές. Η ιστοσελίδα μας γεννήθηκε
                    τον Σεπτέμβριο 2022, στην Επανομή Θεσσαλονίκης, όπου
                    οι ιδρυτές μας, Οδυσσέας και Νίκος, ήθελαν να
                    δημιουργήσουν μια ιστοσελίδα για την εκμάθηση
                    προγραμματισμού. Πλέον η ομάδα μας αποτελείται από
                    τον Οδυσσέα, Νίκο και Μάριο, μαθητές της
                    δευτεροβάθμιας εκπαίδευσης στα Ελληνικά σχολεία.
                    Στις 2 Μαΐου 2023, το Simplified Coding άρχισε να
                    υποστηρίζετε (Fiscally Sponsored) από το The Hack Foundation,
                    ενός μη κερδοσκοπικού οργανισμού 501(c)(3) στις Η.Π.Α. (EIN: 81-2908499).<br/><br/>
                </div>
              </td>

              <td>
                <div class="mx-10 my-8 max-w-timeline-width text-lg font-normal bg-sc-card-bg text-slate-300 px-4 py-3 rounded-2xl">
                  <h2 class= "bg-sc-card-header text-center rounded-md py-3 font-semibold text-2xl"> Ο στόχος μας </h2>
                  <br/><br/>
                  Ο στόχος του Simplified Coding είναι να παρέχει
                  μαθήματα προγραμματισμού εντελώς δωρεάν για όλους στα Ελληνικά.
                  Αυτό γιατί πιστεύουμε ότι ο προγραμματισμός είναι
                  μία από τις πιο σημαντικές δεξιότητες που μπορεί
                  κάποιος να αναπτύξει, ανεξαρτήτως του τομέα στον
                  οποίο θέλει να εργαστεί/εργάζεται. Το πρόβλημα είναι
                  πως ελληνικό διαδίκτυο, υπάρχουν ελάχιστες πηγές
                  εκμάθησης κώδικα και οι περισσότερες από αυτές
                  περιέχουν διαφημίσεις ή δεν είναι εντελώς δωρεάν.
                  Γι’ αυτό το Simplified Coding θα είναι πάντα δωρεάν
                  και δεν θα έχει κανενός είδους διαφημίσεις ή κέρδος
                  έκτος από τις δωρεές που λαμβάνουμε. Θέλουμε το
                  Simplified Coding να διαδοθεί στην ελληνική
                  κοινότητα και να μπορέσουμε να διαδώσουμε τον
                  προγραμματισμό σε όλους.<br/><br/><br/>
                </div>
              </td>

            </tr>

            <tr>

              <td >
                <div class="ml-10 my-8 max-w-screen-lg text-lg font-normal bg-sc-card-bg text-slate-300 px-4 py-3 rounded-2xl">
                  <h2 class= "bg-sc-card-header text-center rounded-md py-3 font-semibold text-2xl"> Τα στατιστικά μας </h2>
                  <br/>
                  Η ομάδα μας έχει αφιερώσει πολλές ώρες στην ανάπτυξη αυτής της ιστοσελίδας της οποίας τα στατιστικά βρίσκονται και πηγάζουν από
                  την πλατφόρμα του GitHub. Παρακάτω θα βρείτε μερικά από τα κυριότερα στατιστικά για την ιστοσελίδα μας:
                  <div class="font-semibold text-2xl">
                    <br/><br/><i class="fa-solid fa-code-commit fa-2x"></i>
                    Συνολικές αλλαγές: <br/><br/> <div class="text-6xl font-extrabold"> 796 </div> 
                    <br/><br/> <i class="fa-solid fa-code-branch fa-2x"></i>
                    Ανοιχτά braches: <br/><br/> <div class="text-6xl font-extrabold"> 9 </div>
                    <br/><br/> <i class="fa-brands fa-github fa-2x"></i>
                    Ανοιχτά Issues: <br/><br/> <div class="text-6xl font-extrabold"> 17 </div>
                    <br/><br/> <i class="fa-brands fa-github fa-2x"></i>
                    Επιλυμένα Issues: <br/><br/> <div class="text-6xl font-extrabold"> 68 </div>
                  </div>
                  <br/>
                </div>
              </td>

              <td>
                <div class="mx-10 my-8 max-w-timeline-width text-lg font-normal bg-sc-card-bg text-slate-300 px-4 py-3 rounded-2xl pb-10">
                  <h2 class= "bg-sc-card-header text-center rounded-md py-3 font-semibold text-2xl"> Η χρονογραμμή μας </h2>
                  <br/>
                  Όπως προαναφέραμε στο "Ποιοί είμαστε" η ιστοσελίδα δημιουργείθηκε τον Σεπτέμβριο του 2022. Από τότε, στην ιστοσελίδα μας
                  υπήρξαν πολλές διαφορές αλλά και πολλές νέες λειτουργείες. Όλες τις πληρόφορίες για αυτό το timeline αντλήθηκαν από την
                  σελίδα του Github: <a href="https://github.com/simplified-coding/simplified-coding/network"> Network Graph</a>. Σε αυτό το timeline μπορείς να ανακλύψεις την εξέλιξη της ιστοσελίδας
                  μας από την αρχή μέρχι και σήμερα αλλά και μελλοντικές αλλαγές που θέλουμε να κάνουμε στο Simplified Coding:
                  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                  <div class="absolute max-w-3xl overflow-y-scroll max-h-timeline-height mt-920px">
                    <div class="border-l-v-rule border-solid h-v-rule absolute w-80 border-timeline-content left-50% v-rule"></div>
                    
                    <div class="after:absolute after:w-6 after:h-6 after:-right-17px after:bg-timeline-dots after:border-4 after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-90px ml-100px pr-8 -left-44 leftp-3 relative w-60% container left">
                      <div class="px-4 py-3 bg-timeline-content relative rounded-md content">
                          <h2 class="font-semibold text-3xl"> 10 Σεπτεμβρίου 2022 </h2>
                          <br>
                          <p> H δημιουργεία του repository της ιστοσελίδας μας στο GitHub. </p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-18px after:bg-timeline-dots after:border-4 after:right-328px after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-100px pr-2.5 left-41.15% w-410px p-3 relative">
                      <div class="px-4 py-3 bg-timeline-content relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> 30 Σεπτεμβρίου 2022 </h2>
                        <br>
                        <p> Δημιουργεία  των πρώτων 3ων μαθημάτων για την αρχική σειρά μαθημάτων Python. Τα μαθήματα βρίσκοντας στην πρώιμη μορφή τους ως παρουσιάσεις και όχι όπως ειναι σήμερα σε μορφή αρχείου.</p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-17px after:bg-timeline-dots after:border-4 after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-90px ml-100px pr-8 -left-44 leftp-3 relative w-60% container left">
                      <div class="px-4 py-3 bg-timeline-content relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> 29 Δεκεμβρίου 2022 </h2>
                        <br>
                        <p> Λίγο πριν το τέλος τις χρονιάς, είχαμε ολοκληρώσει την δημιουργεία μαθημάτων για την σειρά της Python, είχαμε προσθέσει quizzes σε καθε μάθημα αλλά και είχαμε διωρθώσει τα περισσότερα λάθη και bugs στην ιστοσελίδα μας.</p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-18px after:bg-timeline-dots after:border-4 after:right-328px after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-100px pr-2.5 left-41.15% w-410px p-3 relative">
                      <div class="px-4 py-3 bg-timeline-content relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> 12 Ιανουαρίου 2023</h2>
                        <br>
                        <p> Η νέα χρονιά για εμάς ξεκίνησε με την προσθήκη μίας κάρτας για δωρεές. Τώρα πιά μπορείτε να βρείτε την σελίδα των δωρεών εδώ. </p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-17px after:bg-timeline-dots after:border-4 after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-90px ml-100px pr-8 -left-44 leftp-3 relative w-60% container left">
                      <div class="px-4 py-3 bg-timeline-content relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> Μάιος 2023 </h2>
                        <br>
                        <p> Αυτόν τον μήνα έγιναν πολλές αλλαγές. Αρχικά αλλάξαμε το Licence και δημιουργήσαμε το security policy της ιστοσελίδας μας. Ακόμα διορθώσαμε πολλές λάθη από μαθήματα, σελίδες και κάρτες που δημιουργήσαμε την περίοδο Φεβρουαρίου-Μαΐου. Τέλος αρχίσαμε να πειραματιζόμαστε και στον νέο τρόπο παρουσίασης των μαθημάτων (Αρχεία Markdown αντί παρουσιάσεων). </p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-18px after:bg-timeline-dots after:border-4 after:right-328px after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-100px pr-2.5 left-41.15% w-410px p-3 relative">
                      <div class="px-4 py-3 bg-timeline-content relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> Ιούνιος 2023 </h2>
                        <br>
                        <p> Οι αλλαγές στην ομάδα του Simplified Coding φέρνουν αλλαγές και στο ίδιο το Simplified Coding. Μέσα σε έναν μήνα έγιναν τόσες αλλαγές που να μην μπορούν να αναφερθούν όλες εδώ. Η βασικότερη αλλαγή είναι η προσθήκη ενός editor μέσα στα μαθήματα python και HTML που δίνει την δυνατότητα στον χρήστη να μην χρειάζτεαι να κατεβασει τίποτα στον υπολογιστή. Ακόμα κατά αυτό τον μήνα αλλάξαμε την σειράς μαθημάτων HTML αλλά και η μετατροπή τους σε Markdown αρχεία. Τέλος φτιάξαμε μία σελίδα όπου ο χρήστης βλέπει όλα τα μαθήματα πιο οργανωμένα, την οποία αλλαγή ακολούθησε η αλλαγή στην CSS όλης της ιστοσελίδας. </p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-17px after:bg-timeline-dots after:border-4 after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-90px ml-100px pr-8 -left-44 leftp-3 relative w-60% container left">
                      <div class="px-4 py-3 bg-timeline-content relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> Ιούλιο 2023 </h2>
                        <br>
                        <p> Το καλοκαίρι συνεχίζει οπότε και εμείς συνεχίζουμε με τις αλλαγές στην ιστοσελίδα μας. Αν και όλα συνέβαιναν σε ξεχωριστό branch και η ιστοσελίδα δεν είχε καμία διαφορά οι αλλαγές ήταν καθημερινές. Αρχικά προσθέσαμε σειρές μαθημάτων CSS JavaScript αλλά και Arduino. Μέσα στον ίδιο μήνα επίσης κάναμε polishing αλλά και διόρθωση γραμματικών και ορθογραφικών στα μαθήματα αλλά και σε όλη την ιστοσελίδα. Μία ακόμα μικρή αλλαγή που κάναμε ήταν η προσθήκη περιγραφών στα μαθήματα και η δημιουργεία Navbar. </p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-18px after:bg-timeline-dots after:border-4 after:right-328px after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-100px pr-2.5 left-41.15% w-410px p-3 relative">
                      <div class="px-4 py-3 bg-timeline-content relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> Αυγουστος 2023 </h2>
                        <br>
                        <p> Πλησιάζοντας στα γεννέθλια του Simplified Coding αλλά και στο τέλος του καλοκαιριού, βάζαμε τις τελικές προσθήκες στην ιστοσελίδα για το καλοκαίρι. Στις αρχές του μήνα κάναμε polishing στις σειρές των μαθημάτων που έτραχαν εκείνη την περίοδο (Javascript & Arduino). Ακόμα προσθέσαμε την news page στην οποία βρήσκονταν η νεα δυνατότητα που είχαν οι χρήστες να λαμβάνουν μηνιαίο newsletter με τις αλλαγές και να νεα της ιστοσελίδας μας. Αμέσως μετά ήρθαν οι αλλγές και στην ιστοσελίδα. Στις 8 Αυγούστου όλες αυτές οι αλλαγές μηνών εμφανίστικαν στην ιστοσελίδα. Μετά από ένα σύντομο διάλειμμα 2 εβδομάδων αρχίσαμε να δουλέυουμε σε νέες αλλαγές ξεκινόντας από την χρήση astro σε όλη την ιστοσελίδας μας. Και συνεχίσαμε με την τελειοποιήση νέων μαθημάτων (Βασικές έννοιες προγραμματισμού και υπολογιστών).</p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-17px after:bg-timeline-dots after:border-4 after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-90px ml-100px pr-8 -left-44 leftp-3 relative w-60% container left">
                      <div class="px-4 py-3 bg-timeline-content relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> Φθινόπωρο 2023 </h2>
                        <br>
                        <p> Δυστυχώς και προλάβαμε να φτιάξουμε μία επετιακή version του Simplified Coding αλλά χρησιμοποιήσαμε αυτόν τον χρόνο για να σκεφτούμε νέες ιδέες, αλλά και να τις υλοποιήσουμε.  Όπως πάντα αρχίσμαμε και αυτή την περίοδο με την διώρθωση γραμματικών και συντακτικών λαθών όπως και λάθη μέσα στον κώδικα πολλών σελίδων. Αμέσως μετά άρχισε η ανάπτυξη μία ακόμα βοηθητική για αρχαριους σειρά μαθημάτων...αυτή του Git & Github</p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-18px after:bg-timeline-dots after:border-4 after:right-328px after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-100px pr-2.5 left-41.15% w-410px p-3 relative">
                      <div class="px-4 py-3 bg-timeline-content relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> Ιανουάριος-Μάιος 2024 </h2>
                        <br>
                        <p> Νέο έτος, νέες αλλαγές (και μάλιστα πολλές). Αρχικά προσθέσαμε ένα νέο progress bar στα μαθήματα ωστε να ειναι ευκολότερο για όλους να κρατάνε μια σειρά στο πως κάνουν τα μαθήματα. Ακόμα προσθέσαμε ένα roadmap για όποιον δεν θέλει να μάθει κάτι συγκεκριμένο αλλά θέλει να τα μάθει όλα με μια λογική (και με αυξανόμενης δυσκολίας) σειρά. Επίπλέον, προσθέσαμε ένα ακόμα μάθημα (την C++) για να διευκολίνουμε την εκμάθηση της σειράς Arduino. Τέλος, προσθέσαμε και ακόμα 2 μαθήματα html για να έχουμε μια πιο ολοκληρωμένη σειρά. </p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-17px after:bg-timeline-dots after:border-4 after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-90px ml-100px pr-8 -left-44 leftp-3 relative w-60% container left">
                      <div class="px-4 py-3 bg-timeline-content relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> Ιούνιος-Ιούλιος 2024 </h2>
                        <br>
                        <p> Άλλο ένα καλοκαίρι άρα και άλλη μια περίοδος παραγωγικότητας και αλλαγών. Το καλοκαίρι μας βρήκε με πάνω από 20 issues στα οποία ακόμα εργαζόμαστε επάνω. Αρχίσαμε με την ανανέωση των μαθημάτων HTML. Παράλληλα δουλεύουμε σε πολλές νέες σελίδες (Hackolympia & Donations σελίδες) αλλά και την ανανέωση όλων των σελίδων (σελίδα μαθημάτων, about us σελίδα και την σελίδα των News) αλλά και διάφορων στοιχείων (navbar & footer). Τέλος, αρχίσαμε ένα μεγάλο έργω μετάφασης της σελίδας από bootstrap σε tailwind για μια καλύτερη εμπειρία του χρήστη αλλά και ευκολία στην δημιουργία της ιστοσελίδας γιατην γρηγορότερη ανάπτυξή της. </p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-18px after:bg-timeline-dots after:border-4 after:right-328px after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-100px pr-2.5 left-41.15% w-410px p-3 relative">
                      <div class="px-4 py-3 bg-timeline-content-future relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> Αυγουστος 2024</h2>
                        <br>
                        <p> Για το καλοκαίρι θα αφιερώσουμε χρόνο μας να τελειοποιήσουμε τα issues που έχουμε ανοίξει για μια καλύτερη εμπειρία των χρηστών το συντομότερο δυνατόν. Ακόμα, θα προσθέσουμε νέες σειρές advanced μαθημάτων σε HTML και Pythoon. (Και ίσως μία εορταστική εβδομάδα για τα 2α γεννέθλια του Simplified Coding, no spoilers)</p>
                      </div>
                    </div>
                    <div class="after:absolute after:w-6 after:h-6 after:-right-17px after:bg-timeline-dots after:border-4 after:border-solid after:border-timeline-dots-border after:top-4 after:rounded-full after:z-10 pl-90px ml-100px pr-8 -left-44 leftp-3 relative w-60% container left">
                      <div class="px-4 py-3 bg-timeline-content-future relative rounded-md content">
                        <h2 class="font-semibold text-3xl"> Σεπτέμβριος-Δεκέμβριος 2024 </h2>
                        <br>
                        <p> Η χρονιά μας θα θέλαμε να κλείσει έχοντας κλείσει σχεδόν όλα τα issues και έχοντας προσθέσει 5-6 ακόμα σειρές μαθημάτων. Επιπλέον θα έχουμε νέες δυνατότητες στην ιστοσελίδα και νέα projects σε κάθε μάθημα. Τέλος, κύριο μέλημά μας είναι η ομαλή λειτουργεία της ιστοσελίδας χωρίς bugs και λάθη σε κώδικα ή μαθήματα. </p>
                      </div>
                    </div>
                  </div>
              </td>

            </tr>

          </tbody>
        </table>
    </div>
  </div>
  <div class=" font-semibold text-3xl"></div>
  <style>


    .content h2{
      font-size: 27px;
      font-weight: 600;
    }


  </style>


  <!-- Spacing for footer -->
  <br/>
  <br/>
</Layout>