# SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>
#
# SPDX-License-Identifier: CC0-1.0

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
.old

*.old
.vercel/