# SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>
#
# SPDX-License-Identifier: CC0-1.0

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

*.db
pdb*
