* {
    font-family: Consolas, monaco, monospace;
}

body{
    background-color: gray;
    margin-left: 5%;
    margin-right: 5%;
}

#constructions p {
    top: 0;
    right: 0;
    left: 0;
    padding: 1em 0;
    margin: 0;
    text-align: center;
}

#banner {
    background-size: cover;
    background-position: bottom center;
    height: 200px;
    width: 100%;
    position: relative;
    top: 30px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

#python {
    padding: 2%;
    border: solid 3px rgb(115, 255, 0);
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    color: bisque;
    text-align: center;
}

#html {
    padding: 2%;
    border: solid 3px rgb(253, 87, 11);
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    color: bisque;
    text-align: center;
}

.header h2 {
    background-color: black;
    color: white;
}

.header {
    background-color: blanchedalmond;
}

.header h2, h3, p, a {
    padding-left: 1%;
    padding-right: 1%;
}

.header iframe {
    position: center;
    padding-left: 1%;
    padding-bottom: 2%;
}

#navigation {
    position: center;
}

#navigation-text {
    color: black;
    position: center;
}

.box {
    background-color: grey;
    color: white;
    border: solid 3px black
}

#questions {
    border-color: aqua;
}

#questions a {
    color: greenyellow;
}