<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Bootstrap/Card.astro";
---

<Layout>
    <table>
        <tr>
            <th rowspan="3">
                <iframe src="https://hcb.hackclub.com/donations/start/simplified-coding" width="400px" height="800px"></iframe>
            </th>
            <td>
                <h2> Σχετικά με εμάς </h2>
                <h2> Γιατί να κάνω δωρεά? </h2>
                <h2> Που θα αξιοποιηθεί η δωρεά μου? </h2>
            </td>
          </tr>
        <tr>
            <td>
                <h1>Κάντε μία δωρεά στο Simplified Coding</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h2> sdfhsthgdx </h2>
                <h2> Γιατί να κάνω δωρεά? </h2>
                <h2> Που θα αξιοποιηθεί η δωρεά μου? </h2>
            </td>       
        </tr>
    </table>
  <!-- Spacing for footer -->
  <br/>
  <br/>
</Layout>