<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <table class="w-50%"
        <tr>
            <td class="title"> Κάντε μια δωρεά στο Simplified Coding </td>
            <td rowspan="5" class="table-item">  </td>
        </tr>
        <tr>
            <td class="table-item">
                <h2> Σχετικά με εμάς </h2>
                <p> Το Simplified Coding είναι μια Ελληνική ιστοσελίδα που προσφέρει δωρεάν μαθήματα 
                    πληροφορικής. Είναι μια μη-κερδοσκοπική οργάνωση και χρηματοδοτείται μόνο με δωρεές.</p>
            </td>
        </tr>
        <tr>
            <td class="table-item">
                <h2> Γιατί να κάνω δωρεά? </h2>
                <p> Αν μπορείτε και αποφασίσετε ότι θέλετε να μας κάνετε μια δωρεά, θα υποστηρίξετε τη δωρεάν ποιοτική εκπαίδευση αλλά και την καλύτερη και ταχύτερη ανάπτυξη της ιστοσελίδας. </p>
            </td>
        </tr>
        <tr>
            <td class="table-item">
                <h2> Πού θα αξιοποιηθεί η δωρεά μου; </h2>
                <p> Αν κάνετε μια δωρεά, η ομάδα μας θα χρησιμοποιήσει τα χρήματά σας σε υλικό για την 
                    ανάπτυξη    μαθημάτων, συντήρηση της ιστοσελίδας και διαφημίσεις σε κοινωνικά δίκτυα. </p>
            </td>
        </tr>
        <tr>
            <td class="table-item">
              <table>

                <tr>
                  <th><h2> Recent </h2> <br> </td>
                  <th> <h2> Top donators </h2> <br></td>
                </tr>
                <tr>
                  <td><h4> 11.00$ - Odysseus Kirikopoulos </h4> <br> </td>
                  <td></td>
                </tr>
                <tr>
                  <td> <h4> 10.00$ - Odysseus Abraham Kirikopoulos </h4> <br> </td>
                  <td></td>
                </tr>
                <tr>
                  <td> <h4> 5.00$ - Marios Mitsios </h4> <br> </td>
                  <td></td>
                </tr>
                <tr>
                  <td> <h4> 5.00$ - Constatine Kirikopoulos </h4> <br> </td>
                  <td></td>
                </tr>
              </table>

              <iframe></iframe>
            </td>
        </tr>
    </table>

    <iframe src="https://hcb.hackclub.com/donations/start/simplified-coding" width="650px" height="1150"> </iframe>
    <style>
        .table-item{
            background-color:;
            width: 100vw;
            font-weight: 500;
            color: blanchedalmond;
            padding-left: 100px;
        }
        .title {
            font-size: 48px;
            font-weight: 700;
            color: lemonchiffon;
            padding-left: 100px;
        }
        td { 
            padding: 20px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        h2 {
            font-size: 32px;
            font-weight: 700;
            color: darkslateblue;
        }
        iframe{
            float: right;
            margin-right: 100px;
            margin-top: 20px;
            border-radius: 15px;
        }
    </style>
  <!-- Spacing for footer -->
  <br/>
  <br/>
</Layout>