---
let { lesson, icon } = Astro.props

---




<a href="#" class="text-black px-3 py-4 no-underline block hover:bg-slate-200 rounded-md text-2xl font-medium font-sans w-780px"> <i class={icon}> </i> {lesson} </a>