<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Layout from "../../layouts/Layout.astro";
import LanguageElement from "../../components/Languages/LanguageElement.astro";
---

<Layout>
  <br/>
  <div class="m-3" data-bs-theme="dark">
    <div>
      <h1 class="text-center text-sc-white text-3xl underline font-bold"> Μαθήματα </h1>
      <h2 class="text-center text-sc-white text-xl"> Εδω μπορείτε να δείτε τον κατάλογο των μαθημάτων που μπορείτε να κάνετε στην ιστοσελίδα μας. </h2>
    </div>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html/lesson_1.mdx" 
      lesson_title="Βασικές Ένοιες προγραμματισμού" 
      lesson_description="Η HTML είναι μια γλώσσα ανάπτυξης ιστοσελίδων στην οποία δημιουργείς το βασικό “σκελετό” μίας ιστοσελίδας. Με αυτή εισάγεις μόνο κείμενο, πίνακες και λίστες. Για οποιαδήποτε μορφοποίηση θέλεις να εφαρμόσεις χρειάζεται την CSS."
      icon="fa-brands fa-html5"
      button_text="τώρα HTML"
      lesson_difficulty="1"
      lesson_time="5"
      prior_knowledge="">
    </LanguageElement>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html/lesson_1.mdx" 
      lesson_title="HTML" 
      lesson_description="Η HTML είναι μια γλώσσα ανάπτυξης ιστοσελίδων στην οποία δημιουργείς το βασικό “σκελετό” μίας ιστοσελίδας. Με αυτή εισάγεις μόνο κείμενο, πίνακες και λίστες. Για οποιαδήποτε μορφοποίηση θέλεις να εφαρμόσεις χρειάζεται την CSS."
      icon="fa-brands fa-html5"
      button_text="τώρα HTML"
      lesson_difficulty="1"
      lesson_time="5"
      prior_knowledge="">
    </LanguageElement>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html/lesson_1.mdx" 
      lesson_title="HTML" 
      lesson_description="Η HTML είναι μια γλώσσα ανάπτυξης ιστοσελίδων στην οποία δημιουργείς το βασικό “σκελετό” μίας ιστοσελίδας. Με αυτή εισάγεις μόνο κείμενο, πίνακες και λίστες. Για οποιαδήποτε μορφοποίηση θέλεις να εφαρμόσεις χρειάζεται την CSS."
      icon="fa-brands fa-html5"
      button_text="τώρα HTML"
      lesson_difficulty="1"
      lesson_time="5"
      prior_knowledge="">
    </LanguageElement>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html/lesson_1.mdx" 
      lesson_title="HTML" 
      lesson_description="Η HTML είναι μια γλώσσα ανάπτυξης ιστοσελίδων στην οποία δημιουργείς το βασικό “σκελετό” μίας ιστοσελίδας. Με αυτή εισάγεις μόνο κείμενο, πίνακες και λίστες. Για οποιαδήποτε μορφοποίηση θέλεις να εφαρμόσεις χρειάζεται την CSS."
      icon="fa-brands fa-html5"
      button_text="τώρα HTML"
      lesson_difficulty="1"
      lesson_time="5"
      prior_knowledge="">
    </LanguageElement>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html/lesson_1.mdx" 
      lesson_title="HTML" 
      lesson_description="Η HTML είναι μια γλώσσα ανάπτυξης ιστοσελίδων στην οποία δημιουργείς το βασικό “σκελετό” μίας ιστοσελίδας. Με αυτή εισάγεις μόνο κείμενο, πίνακες και λίστες. Για οποιαδήποτε μορφοποίηση θέλεις να εφαρμόσεις χρειάζεται την CSS."
      icon="fa-brands fa-html5"
      button_text="τώρα HTML"
      lesson_difficulty="1"
      lesson_time="5"
      prior_knowledge="">
    </LanguageElement>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html/lesson_1.mdx" 
      lesson_title="HTML" 
      lesson_description="Η HTML είναι μια γλώσσα ανάπτυξης ιστοσελίδων στην οποία δημιουργείς το βασικό “σκελετό” μίας ιστοσελίδας. Με αυτή εισάγεις μόνο κείμενο, πίνακες και λίστες. Για οποιαδήποτε μορφοποίηση θέλεις να εφαρμόσεις χρειάζεται την CSS."
      icon="fa-brands fa-html5"
      button_text="τώρα HTML"
      lesson_difficulty="1"
      lesson_time="5"
      prior_knowledge="">
    </LanguageElement>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html/lesson_1.mdx" 
      lesson_title="HTML" 
      lesson_description="Η HTML είναι μια γλώσσα ανάπτυξης ιστοσελίδων στην οποία δημιουργείς το βασικό “σκελετό” μίας ιστοσελίδας. Με αυτή εισάγεις μόνο κείμενο, πίνακες και λίστες. Για οποιαδήποτε μορφοποίηση θέλεις να εφαρμόσεις χρειάζεται την CSS."
      icon="fa-brands fa-html5"
      button_text="τώρα HTML"
      lesson_difficulty="1"
      lesson_time="5"
      prior_knowledge="">
    </LanguageElement>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html/lesson_1.mdx" 
      lesson_title="HTML" 
      lesson_description="Η HTML είναι μια γλώσσα ανάπτυξης ιστοσελίδων στην οποία δημιουργείς το βασικό “σκελετό” μίας ιστοσελίδας. Με αυτή εισάγεις μόνο κείμενο, πίνακες και λίστες. Για οποιαδήποτε μορφοποίηση θέλεις να εφαρμόσεις χρειάζεται την CSS."
      icon="fa-brands fa-html5"
      button_text="τώρα HTML"
      lesson_difficulty="1"
      lesson_time="5"
      prior_knowledge="">
    </LanguageElement>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html/lesson_1.mdx" 
      lesson_title="HTML" 
      lesson_description="Η HTML είναι μια γλώσσα ανάπτυξης ιστοσελίδων στην οποία δημιουργείς το βασικό “σκελετό” μίας ιστοσελίδας. Με αυτή εισάγεις μόνο κείμενο, πίνακες και λίστες. Για οποιαδήποτε μορφοποίηση θέλεις να εφαρμόσεις χρειάζεται την CSS."
      icon="fa-brands fa-html5"
      button_text="τώρα HTML"
      lesson_difficulty="1"
      lesson_time="5"
      prior_knowledge="">
    </LanguageElement>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html/lesson_1.mdx" 
      lesson_title="HTML" 
      lesson_description="Η HTML είναι μια γλώσσα ανάπτυξης ιστοσελίδων στην οποία δημιουργείς το βασικό “σκελετό” μίας ιστοσελίδας. Με αυτή εισάγεις μόνο κείμενο, πίνακες και λίστες. Για οποιαδήποτε μορφοποίηση θέλεις να εφαρμόσεις χρειάζεται την CSS."
      icon="fa-brands fa-html5"
      button_text="τώρα HTML"
      lesson_difficulty="1"
      lesson_time="5"
      prior_knowledge="">
    </LanguageElement>
  </div>
  <br/>
</Layout>
