<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Layout from "../../layouts/Layout.astro";

import {getEntry} from "astro:content";
import Language from "../../components/Languages/Language.astro";

const courses = (await getEntry('lessons', 'courses')).data.courses;
---

<Layout>
  <br/>
  <div class="m-3" data-bs-theme="dark">
    <div class="d-flex justify-content-center align-items-center">
      <h1 class="text" style="text-align: center;"> Εδω μπορείτε να δείτε τον κατάλογο των μαθημάτων που <br> μπορείτε να κάνετε στην ιστοσελίδα μας. </h1>
    </div>
    {courses.map(c =>
      <div class="m-5">
        <Language data={c}></Language>
      </div>)}
  </div>
  <br/>
</Layout>

<style>
    .text {
        color: white;
    }
</style>
