<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Layout from "../../layouts/Layout.astro";
import LanguageElement from "../../components/Languages/LanguageElement.astro";
---

<Layout>
  <br/>
  <div class="m-3" data-bs-theme="dark">
    <div>
      <h1 class="text-center text-sc-white text-3xl underline font-bold">Μαθήματα</h1>
      <h2 class="text-center text-sc-white text-xl"> Εδω μπορείτε να δείτε τον κατάλογο των μαθημάτων που μπορείτε να κάνετε στην ιστοσελίδα μας. </h2>
    </div>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html/lesson_1.mdx" 
      lesson_title="HTML" 
      lesson_description="Η HTML είναι μια γλώσσα ανάπτυξης ιστοσελίδων στην οποία δημιουργείς το βασικό “σκελετό” μίας ιστοσελίδας. Με αυτή εισάγεις μόνο κείμενο, πίνακες και λίστες. Για οποιαδήποτε μορφοποίηση θέλεις να εφαρμόσεις χρειάζεται την CSS."
      icon="fa-brands fa-html5"
      button_text="τώρα HTML"
      rating="1">
    </LanguageElement>
    <LanguageElement 
      lesson_link="/src/pages/lessons/html" 
      lesson_title="CSS" 
      lesson_description="Η CSS είναι μια γλώσσα υπολογιστή που ανήκει στην κατηγορία των γλωσσών σχεδιασμού και χρησιμοποιείται για τον έλεγχο της εμφάνισης ενός html εγγράφου. Με την CSS ελέγχουμε το πως θα εμφανίζονται τα όσα έχουμε ορίσει στην HTML, έχοντας την δυνατότητα να αλλάξουμε μέγεθος, χρώμα, φωτεινότητα, περίγραμμα, κ.α."
      icon="fa-brands fa-css3-alt"
      button_text="τώρα CSS">
    </LanguageElement>
  </div>
  <br/>
</Layout>
