---
import Layout from "../layouts/Layout.astro";
import CardHeader from "../components/Bootstrap/CardHeader.astro";
---

<Layout>
  <br/>
  <div class="d-flex justify-content-center" style="color: white">
    <div>
      <h1>
        Καλωσήρθατε στο <strong class="text-decoration-underline"
      >Simplified Coding</strong
      >
      </h1>
    </div>
  </div>
  <br/>
  <div id="doc-body"></div>
  <div id="doc-body-mobile"></div>
  <br/>
  <br/>
</Layout>
