---
import Layout from "../layouts/Layout.astro";
import CardHeader from "../components/Bootstrap/CardHeader.astro";
---

<Layout>
  <br/><br/>
  <div style="color: white" data-bs-theme="dark" id="doc-body">
    <div class="d-flex justify-content-center">
      <div>
        <h1>
          Καλωσορίσατε στο <strong class="text-decoration-underline"
        >Simplified Coding</strong
        >
        </h1>
      </div>
    </div>
    <div class="d-flex justify-content-start m-5">
      <div>
        <br/>
        <div class="me-4">
          <div class="alert alert-success" role="alert">
            Κάνουμε <strong>GIVEAWAY</strong> ένα kit Arduino για τα
            μαθήματα ρομποτικής.<br/>
            <a href="https://discord.gg/96zYntcJBe"
            ><strong
            >Μπείτε τώρα στο Discord για να λάβετε μέρος</strong
            ></a
            >
          </div>
        </div>

        <div>
          Ακολουθήστε μας και σε <strong>άλλες πλατφόρμες</strong>.
          <br/>
          <div>
            <a href="https://links.simplifiedcoding.org/github"
            ><i
              class="fa-brands fa-square-github m-1"
              style="font-size: 38px"></i></a
            >
            <a
              href="https://links.simplifiedcoding.org/linkedin"
            ><i
              class="fa-brands fa-linkedin m-1"
              style="font-size: 38px"></i></a
            >
            <a href="https://links.simplifiedcoding.org/discord"
            ><i
              class="fa-brands fa-discord m-1"
              style="font-size: 38px"></i></a
            >
            <a href="https://links.simplifiedcoding.org/twitter"
            ><i
              class="fa-brands fa-square-twitter m-1"
              style="font-size: 38px"></i></a
            >
            <a href="https://links.simplifiedcoding.org/youtube"
            ><i
              class="fa-brands fa-youtube m-1"
              style="font-size: 38px"></i></a
            >
            <a href="https://links.simplifiedcoding.org/instagram"
            ><i
              class="fa-brands fa-instagram m-1"
              style="font-size: 38px"></i></a
            >
            <a href="https://links.simplifiedcoding.org/tiktok"
            ><i
              class="fa-brands fa-tiktok m-1"
              style="font-size: 38px"></i></a
            >
          </div>
        </div>
        <br/>
      </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
</Layout>
