---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Bootstrap/Card.astro";
import CardImage from "../../components/Bootstrap/CardImage.astro";
---

<Layout>
    <h1>News</h1>

    <h2>Newsletter</h2>

    <p>Εαν σου αρέσει η ιστοσελίδα μας και θέλεις να μαθαίνεις την κατασκευή καινούργιων μαθημάτων κατευθείαν στο mail σου! Θα στέλνουμε το πολύ ένα mail τον μήνα και θα μπορείς να δοκιμάζεις νέα μαθήματα, πριν τα δημοσιεύσουμε!</p>

    <button>Κάνε Εγγραφή</button>

    <h2 class="news-post-1"></h2>

    <img>
    <p></p>

    <h2 class="news-post-2"></h2>

    <img>
    <p></p>

</Layout>