---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Bootstrap/Card.astro";
import CardImage from "../../components/Bootstrap/CardImage.astro";
---

<Layout>

    <div class="d-flex justify-content-center" data-bs-theme="dark">
        <div class="row">
            <div class="col-6">
                <Card
                    card_title="Newsletter"
                    card_subtitle="Newsletter"
                    card_link_visible={false}
                >
                Εάν σου αρέσει το Simplified Coding και θέλεις να μαθένεις τα νέα μας,
                μπορείς να κάνεις εγγραφή στο newsletter μας.
                Μια φορά τον μήνα θα πέρνεις ένα email από εμάς,
                με τα νέα ιστοσελίδας, νέα μαθήματα και ενδιαφέρωντα πραγματάκια για τον προγραμματισμό.
                </Card>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6">
                <Card
                    card_title="Ανάρτηση"
                    card_subtitle="Ανάρτηση"
                    card_link_visible={false}
                >
                    <div>
                        <h1>Title</h1>
                    </div>
                    <div>
                        <p>Content</p>
                    </div>
                </Card>
            </div>
        </div>
    </div>


</Layout>