<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <br/><br/><br/>
  <div class="flex justify-between" id="doc-body">

    <div class="max-w-2xl text-slate-300 bg-sc-card-bg rounded-md px-5 py-3 font-bold text-2xl mx-20">
      <h2 class="bg-sc-card-header text-center rounded-md py-3"> <i class="fa-solid fa-newspaper"></i> Newsletter </h2>
      <br/>
        Κάνε εγγραφή σήμερα στο newsletter μας και απόλαυσε αποκλειστικά προνόμια.
        Αρχικά, όλα τα εγγεγραμένα μέλοι στο newsletter μας θα λαμβάνουν e-mail κάθε
        3 μήνες με όλες τι αλλαγές που έγιναν αυτή την περίοδο πριν από την ανακόινωση 
        ή παρουσίασή τους στο simplified.org. Ακόμα θα έχουν πρόσβαση σε beta versions 
        από νέες σελίδες, νέα features και ιδέες για την ιστοσελίδα μας. <br/><br/>
        <a href="https://tally.so/r/mOGayM" target="_blank"> <button class="text-slate-300 hover:text-slate-100 bg-button hover:bg-button_hover rounded-md px-5 py-3 font-bold text-2xl mx-28 w-60"> Εγγράψου εδώ!! </button> </a>
        <br/><br/>

    </div>

    <div class="max-w-2xl text-slate-300 bg-sc-card-bg rounded-md px-5 py-3 font-bold text-2xl mx-20">
      <h2 class="bg-sc-card-header text-center rounded-md py-3"> <i class="fa-brands fa-discord"></i> Discord </h2>

      <br/>
        Γίνε μέλος στον Discord server μας για να μαθάινεις τα πάντα πριν από όλους.
        Μπαίνοντας στον discord server μας, μπορείς να μιήσεις με την εμάς αλλά και αλλους χρήστες
        παίρνοντας μέρος και σε συζητήσεις γύρω από προσθήκες στην ιστοσελίδα. Πέρα απο τις συζητήσεις
        μπορείς να παίρνεις μέρος και σε polls αποφασίζοντας τι θα προτιμούσες να προσθέσουμε στις ιστοσελίδα
        και τι δεν θα σου άρεσε. Τέλος τα μέλη στον discord server μας θα παίρνουν μέρος σε giveaways.<br/><br/>

        <a href="https://tally.so/r/mOGayM" target="_blank"> <button class="text-slate-300 hover:text-slate-100 bg-button hover:bg-button_hover rounded-md px-5 py-3 font-bold text-2xl mx-36 w-72"> Συνδέσου από εδώ!! </button> </a>
    </div>
  </div>




  <div class="flex justify-between" id="doc-body-mobile">
    <div class="max-w-2xl text-slate-300 bg-sc-purple rounded-md px-5 font-bold text-2xl mx-20">

      <br/>
      Κάνε εγγραφή σήμερα στο newsletter μας και απόλαυσε αποκλειστικά προνόμια.
      Αρχικά, όλα τα εγγεγραμένα μέλοι στο newsletter μας θα λαμβάνουν e-mail κάθε
      3 μήνες με όλες τι αλλαγές που έγιναν αυτή την περίοδο πριν από την ανακόινωση 
      ή παρουσίασή τους στο simplified.org. Ακόμα θα έχουν πρόσβαση σε beta versions 
      από νέες σελίδες, νέα features και ιδέες για την ιστοσελίδα μας. <br/><br/>

      <a href="https://tally.so/r/mOGayM" target="_blank"> <button class="text-slate-300 hover:text-slate-500 bg-sc-purple-light hover:bg-vi rounded-md px-5 py-3 font-bold text-2xl mx-44"> Εγγράψου εδώ!! </button> </a>
    </div>

    <br/>

    <div class="max-w-2xl text-slate-300 bg-sc-purple rounded-md px-5 py-3 font-bold text-2xl mx-20">
      <br/>
      Γίνε μέλος στον Discord server μας για να μαθάινεις τα πάντα πριν από όλους.
      Μπαίνοντας στον discord server μας, μπορείς να μιήσεις με την εμάς αλλά και αλλους χρήστες
      παίρνοντας μέρος και σε συζητήσεις γύρω από προσθήκες στην ιστοσελίδα. Πέρα απο τις συζητήσεις
      μπορείς να παίρνεις μέρος και σε polls αποφασίζοντας τι θα προτιμούσες να προσθέσουμε στις ιστοσελίδα
      και τι δεν θα σου άρεσε. Τέλος τα μέλη στον discord server μας θα παίρνουν μέρος σε giveaways.<br/><br/>
      <a href="https://tally.so/r/mOGayM" target="_blank"> <button class="text-slate-300 hover:text-slate-500 bg-sc-purple-light hover:bg-violet-400 rounded-md px-5 py-3 font-bold text-2xl mx-44"> Συνδέσου από εδώ!! </button> </a>
    </div>
  </div>
  <br/><br/><br/>
</Layout>
