---
---

<div class="container" data-bs-theme="dark">
    <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    >
        <div class="col-md-4 d-flex align-items-center">
            <a
                href="/"
                class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
            >
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary"
                >&copy; 2023 Simplified Coding - GPLv3</span
            >
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a
                    class="text-body-secondary"
                    href="https://github.com/Simplified-coding/simplified-coding.github.io/blob/main/LICENSE"
                    target="_blank"
                    ><img class="bi" src="/icons/GPLv3.svg" width="100" /></a
                >
            </li>
            <li class="ms-3">
                <a
                    class="text-body-secondary"
                    href="https://bank.hackclub.com/simplified-coding"
                    target="_blank"
                    ><img class="bi" src="/icons/HCB_Logo.svg" width="48" /></a
                >
            </li>
            <li class="ms-3">
                <a
                    class="text-body-secondary"
                    href="https://hackclub.com"
                    target="_blank"
                    ><img class="bi" src="/icons/HC_Logo.svg" width="48" /></a
                >
            </li>
        </ul>
    </footer>
</div>

