<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
---

<div class="bg-sc-navbar">
  <footer
    class="flex flex-wrap justify-centeritems-center p-3 border-t border-sc-navbar"
  >
    <div class="justify-start items-center max-w-screen-lg">
      <span class="mb-3 md-0 text-white text-sm">
        &copy; | 2025 | Simplified Coding | Mε επιφύλαξη μερικών νόμιμων δικαιωμάτων <br/><br/>
        Το Simplified Coding τελεί υπό τη δημοσιονομική αιγίδα του The Hack Foundation, μιας μη-κερδοσκοπικής οργάνωσης υπό το άρθρο 501(c)(3) του Φορολογικού Κώδικα των ΗΠΑ. 
        Συνεπώς, το έργο απολαμβάνει προνόμια μη-κερδοσκοπικής οργάνωσης.<br/><br>
        Το λογισμικό και η ιστοσελίδα προστατεύονται από την άδεια GNU General Public License V3.<br/>
        Τα μαθήματα προστατεύονται από την άδεια Creative Commons Attribution Share Alike 4.0 International. <br/> 
        Το υλικολογισμικό προστατεύεται από την άδεια την άδεια CERN Open Hardware License Version&nbsp2&nbsp-&nbspStrongly Reciprocal.<br/><br/>
        <a href="https://docs.google.com/document/d/17oZxZmxd2A34dnPDCvnnP6XVcR5OcbZcdQwCvzuW-RQ/edit?usp=sharing" class="underline text-gray-300">Κώδικας Δεοντολογίας</a>
        |
        <a href="https://docs.google.com/document/d/1xjOUrcuMd5bJRhPugqkkc5T3SYIqg8L9zgo68F71M4k/edit?usp=sharing" class="underline text-gray-300">Πολιτική Απορρήτου</a>
      </span>
    </div>

    <div class="ms-6 justify-end">
      <div>
        <ul class="flex items-center justify-center">
          <li class="ms-3">
            <a
              class="text-body-secondary"
              href="https://www.gnu.org/licenses/gpl-3.0.html"
              target="_blank"
              aria-label="GNU General Public License Version 3"
            ><img class="bi" src="/icons/GPLv3.svg" width="100" height="50" alt="GNU General Public License Version 3 logo"/></a
            >
          </li>
          <li class="ms-3">
            <a
              class="text-body-secondary"
              href="https://opensource.org/license/cern-ohl-s"
              target="_blank"
              aria-label="CERN Open Hardware License Version 2 - Strongly Reciprocal"
            ><img class="bi" src="/icons/open-hardware.png" width="96" height="70.3333" alt="Open Hardware logo"/></a
            >
          </li>
          <li class="ms-3 align-items-center d-flex">
            <a
              class="text-body-secondary"
              href="https://creativecommons.org/licenses/by-sa/4.0/deed.en"
              target="_blank"
              aria-label="Creative Commons Attribution - Share Alike 4.0 International"
            ><img class="bi" src="/icons/cc-by-sa.svg" width="124" height="43.4" alt="Creative Commons Attribution - Share Alike 4.0 International license logo"/></a
            >
          </li>
        </ul>
        
        <ul class="flex items-center justify-center">
          <li class="ms-3 inline">
            <a
              class="text-body-secondary"
              href="https://hcb.hackclub.com/simplified-coding/transactions"
              target="_blank"
              aria-label="HCB">
              <img class="bi" src="/icons/HCB_Logo.svg" width="48" height="48" alt="HCB logo"/>
            </a>
          </li>
          <li class="ms-3 inline">
            <a
              class="text-body-secondary"
              href="https://hackclub.com"
              target="_blank"
              aria-label="Hack Club"
            ><img class="bi" src="/icons/HC_Logo.svg" width="48" height="48" alt="Hack Club logo"/></a
            >
          </li>
          <li class="ms-3 inline">
            <a href="https://hcb.hackclub.com/donations/start/simplified-coding" aria-label="Donate to Simplified Coding" target="_blank" class="text-5xl text-blue-500 hover:text-blue-400">
              <i class="fa-solid fa-hand-holding-dollar"> </i>
            </a>
          </li>
          <li class="ms-3 inline">
            <a href="https://www.thegreenwebfoundation.org/green-web-check/?url=www.simplifiedcoding.org" target="_blank">
              <img src="https://app.greenweb.org/api/v3/greencheckimage/simplifiedcoding.org?nocache=true" alt="This website runs on green hosting - verified by thegreenwebfoundation.org" width="200px" height="95px">
            </a>
          </li>
        </ul>
        <ul class="flex items-center justify-center">
          <li class="ms-1">
            <a href="https://github.com/simplified-coding/" aria-label="GitHub" target="_blank" class="text-5xl text-blue-500 hover:text-blue-400">
              <i class="fa-brands fa-square-github m-1 icons-social"> </i>
            </a>
          </li>
          </li>
          <li class="ms-1">
            <a href="https://discord.gg/PrfvUFH7vh" aria-label="Discord" target="_blank" class="text-5xl text-blue-500 hover:text-blue-400">
              <i class="fa-brands fa-discord m-1 icons-social"> </i>
            </a>
          <li class="ms-1">
            <a href="https://www.youtube.com/@simplified-coding-gr" aria-label="YouTube" target="_blank" class="text-5xl text-blue-500 hover:text-blue-400">
              <i class="fa-brands fa-youtube m-1 icons-social"> </i>
            </a>
          <li class="ms-1">
            <a href="https://www.instagram.com/simplified.coding.gr/" aria-label="Instagram" target="_blank" class="text-5xl text-blue-500 hover:text-blue-400">
              <i class="fa-brands fa-instagram m-1 icons-social"> </i>
            </a>
          <li class="ms-1">
            <a href="https://www.tiktok.com/@simplified.coding" aria-label="TikTok" target="_blank" class="text-5xl text-blue-500 hover:text-blue-400">
              <i class="fa-brands fa-tiktok m-1 icons-social"> </i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script>
    if (/iPhone|iPad|iPod|Android|webOS|BlackBerry|Windows Phone/i.test(
      navigator.userAgent
    )) {
      Array.from(document.getElementsByClassName("icons-social")).forEach(i => i.style = `font-size: ${Math.floor(window.innerWidth / 7) / 1.5}px`)
    }

  </script>
</div>
