---
---

<div class="container" data-bs-theme="dark">
  <footer
    class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-8 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
      >
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">
        &copy; 2023 Simplified Coding <br/>Το Simplified Coding είναι
        υποστηριζόμενο από το Hack Club (fiscally sponsored), μια μη
        κερδοσκοπική οργάνωση στις ΗΠΑ. <br/> Το λογισμικό και η ιστοσελίδα υπάγετε
        στην GNU General Public License V3. Τα μαθήματα είναι υπό την άδεια Creative
        Commons Attribution Share Alike 4.0 International, και το υλολογισμικό υπό
        την άδεια CERN Open Hardware Licence Version 2 - Strongly Reciprocal.
      </span>
    </div>

    <div class="nav col-md-4 justify-content-end">
      <div>
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="ms-3">
            <a
              class="text-body-secondary"
              href="https://links.simplifiedcoding.org/license-gpl"
              target="_blank"
            ><img class="bi" src="/icons/GPLv3.svg" width="100"/></a
            >
          </li>
          <li class="ms-3">
            <a
              class="text-body-secondary"
              href="https://links.simplifiedcoding.org/license-cern"
              target="_blank"
            ><img class="bi" src="/icons/cern.svg" width="48"/></a
            >
          </li>
          <li class="ms-3 align-items-center d-flex">
            <a
              class="text-body-secondary"
              href="https://links.simplifiedcoding.org/license-cc"
              target="_blank"
            ><img class="bi" src="/icons/cc-by-sa.svg" width="124"/></a
            >
          </li>
        </ul>
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="ms-3 inline">
            <a
              class="text-body-secondary"
              href="https://links.simplifiedcoding.org/bank"
              target="_blank"
            ><img class="bi" src="/icons/HCB_Logo.svg" width="48"/></a
            >
          </li>
          <li class="ms-3 inline">
            <a
              class="text-body-secondary"
              href="https://hackclub.com"
              target="_blank"
            ><img class="bi" src="/icons/HC_Logo.svg" width="48"/></a
            >
          </li>
          <li class="ms-3 inline">
            <a href="https://bank.hackclub.com/donations/start/simplified-coding"
            ><i class="fa-solid fa-hand-holding-dollar" style="font-size: 48px"></i></a
            >
          </li>
        </ul>
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/github"
            ><i class="fa-brands fa-square-github m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          </li>
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/linkedin"
            ><i class="fa-brands fa-linkedin m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          </li>
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/twitter">
              <i class="fa-brands fa-square-twitter m-1 icons-social" style="font-size: 48px"
              ></i>
            </a>
          </li>
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/discord"
            ><i class="fa-brands fa-discord m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/youtube"
            ><i class="fa-brands fa-youtube m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/instagram"
            ><i class="fa-brands fa-instagram m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/tiktok"
            ><i class="fa-brands fa-tiktok m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script>
    if (/iPhone|iPad|iPod|Android|webOS|BlackBerry|Windows Phone/i.test(
      navigator.userAgent
    )) {
      Array.from(document.getElementsByClassName("icons-social")).forEach(i => i.style = `font-size: ${Math.floor(window.innerWidth / 7) / 1.5}px`)
    }

  </script>
</div>
