<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
---

<div class="container" data-bs-theme="dark">
  <footer
    class="flex flex-wrap justify-center items-center py-3 my-4 border-t"
  >
    <div class="justify-start items-center max-w-screen-sm">
      <span class="mb-3 md-0 text-white text-sm">
        &copy; | 2024 | Simplified Coding | Mε επιφύλαξη μερικών νόμιμων δικαιωμάτων <br/>Το Simplified Coding είναι
        υποστηριζόμενο από το Hack Club (fiscally sponsored), μια μη κερδοσκοπική οργάνωση στις ΗΠΑ. <br/><br>
        Το λογισμικό και η ιστοσελίδα προστατεύονται από την άδεια
        GNU General Public License V3. Τα μαθήματα προστατεύονται από την άδεια Creative
        Commons Attribution Share Alike 4.0 International. Το υλικολογισμικό προστατεύεται από την άδεια
        την άδεια CERN Open Hardware Licence Version&nbsp2&nbsp-&nbspStrongly Reciprocal.
      </span>
    </div>

    <div class="ms-6 justify-end">
      <div>
        <ul class="flex items-center justify-center">
          <li class="ms-3">
            <a
              class="text-body-secondary"
              href="https://links.simplifiedcoding.org/license-gpl"
              target="_blank"
              aria-label="GNU General Public License Version 3"
            ><img class="bi" src="/icons/GPLv3.svg" width="100" height="50" alt="GNU General Public License Version 3 logo"/></a
            >
          </li>
          <li class="ms-3">
            <a
              class="text-body-secondary"
              href="https://links.simplifiedcoding.org/license-cern"
              target="_blank"
              aria-label="CERN Open Hardware Licence Version 2 - Strongly Reciprocal"
            ><img class="bi" src="/icons/open-hardware.png" width="96" height="70.3333" alt="Open Hardware logo"/></a
            >
          </li>
          <li class="ms-3 align-items-center d-flex">
            <a
              class="text-body-secondary"
              href="https://links.simplifiedcoding.org/license-cc"
              target="_blank"
              aria-label="Creative Commons Attribution - Share Alike 4.0 International"
            ><img class="bi" src="/icons/cc-by-sa.svg" width="124" height="43.4" alt="Creative Commons Attribution - Share Alike 4.0 International license logo"/></a
            >
          </li>
        </ul>
        
        <ul class="flex items-center justify-center">
          <li class="ms-3 inline">
            <a
              class="text-body-secondary"
              href="https://links.simplifiedcoding.org/bank"
              target="_blank"
              aria-label="HCB"
            ><img class="bi" src="/icons/HCB_Logo.svg" width="48" height="48" alt="HCB logo"/></a
            >
          </li>
          <li class="ms-3 inline">
            <a
              class="text-body-secondary"
              href="https://hackclub.com"
              target="_blank"
              aria-label="Hack Club"
            ><img class="bi" src="/icons/HC_Logo.svg" width="48" height="48" alt="Hack Club logo"/></a
            >
          </li>
          <li class="ms-3 inline">
            <a href="https://bank.hackclub.com/donations/start/simplified-coding" aria-label="Donate to Simplified Coding"
            ><i class="fa-solid fa-hand-holding-dollar" style="font-size: 48px"></i></a
            >
          </li>
        </ul>
        <ul class="flex items-center justify-center">
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/github" aria-label="GitHub"
            ><i class="fa-brands fa-square-github m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          </li>
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/linkedin" aria-label="LinkedIn"
            ><i class="fa-brands fa-linkedin m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          </li>
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/twitter" aria-label="Twitter">
              <i class="fa-brands fa-square-twitter m-1 icons-social" style="font-size: 48px"
              ></i>
            </a>
          </li>
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/discord" aria-label="Discord"
            ><i class="fa-brands fa-discord m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/youtube" aria-label="YouTube"
            ><i class="fa-brands fa-youtube m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/instagram" aria-label="Instagram"
            ><i class="fa-brands fa-instagram m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          <li class="ms-1">
            <a href="https://links.simplifiedcoding.org/tiktok" aria-label="TikTok"
            ><i class="fa-brands fa-tiktok m-1 icons-social" style="font-size: 48px"
            ></i></a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script>
    if (/iPhone|iPad|iPod|Android|webOS|BlackBerry|Windows Phone/i.test(
      navigator.userAgent
    )) {
      Array.from(document.getElementsByClassName("icons-social")).forEach(i => i.style = `font-size: ${Math.floor(window.innerWidth / 7) / 1.5}px`)
    }

  </script>
</div>
