---
import NavbarElement from "./NavbarElement.astro"
---

<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->
<nav class="flex">
    <a href="/" aria-label="Simplified Coding">
        <img
            src="/Brand/cover.png"
            alt="Logo"
            width="218.75"
            class="inline-block"
        />
    </a>

    <ul class="w-full flex justify-evenly" transition:animate="initial">
        <NavbarElement href="/" icon="fa-regular fa-house" transition:name="nbar-1">Αρχική</NavbarElement>
        <NavbarElement href="/" icon="fa-regular fa-house" transition:name="nbar-2">Αρχική</NavbarElement>
        <NavbarElement href="/" icon="fa-regular fa-house" transition:name="nbar-3">Αρχική</NavbarElement>
        <NavbarElement href="/" icon="fa-regular fa-house" transition:name="nbar-4">Αρχική</NavbarElement>
        <NavbarElement href="/" icon="fa-regular fa-house" transition:name="nbar-5">Αρχική</NavbarElement>
        <NavbarElement href="/" icon="fa-regular fa-house" transition:name="nbar-6">Αρχική</NavbarElement>
    </ul>
</nav>
