<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->


<nav >
  <ul class="navbar">
    <li>
      <a href="/" aria-label="Simplified Coding"><img src="/Brand/cover.png" alt="Logo" width="240px"/></a>
    </li>
    <li class="nav-link">
      <i class= "fa-regular fa-house" ></i>
      <a href= "/"> <slot>Αρχική</slot> </a>
    </li>
    <li class="nav-link">
      <i class= "fa-regular fa-book" ></i>
      <a href= "/lessons"> <slot>Μαθήματα</slot> </a>
    </li>
    <li class="nav-link">
      <i class= "fa-regular fa-newspaper" ></i>
      <a href= "/news"> <slot>News</slot> </a>
    </li>
    <li class="nav-link">
      <i class= "fa-regular fa-circle-info" ></i>
      <a href= "/about"> <slot>About us</slot> </a>
    </li>
    <li class="nav-link">
      <i class= "fa-solid fa-hand-holding-heart" ></i>
      <a href= "/donations"> <slot>Δωρεές</slot> </a>
    </li>
    <li class="nav-link">
      <i class= "fa-solid fa-chalkboard-user" ></i>
      <a href= "/hackolympia"> <slot>HackΟlympia</slot> </a>
    </li>
  </ul>
</nav>
<style>
  a {
    text-decoration: none;
    color: antiquewhite;
  }
  img {
    margin-top: -9px;
    margin-bottom: -25px;
  }
  .nav-link{
      margin: 20px;
      margin-top: 0px;
      margin-bottom: -10px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 28px;
      font-weight: 700;
      opacity: .75;
      position: relative;
      color: azure;
  }
 .nav-link:hover {
      opacity: 1;
      color: azure
  }  
  .nav-link::before {
  transition: 500ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: antiquewhite;
  width: 0%;
  bottom: 10px;
}

.nav-link:hover::before {
  width: 100%;
}
</style>