---
---

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="/favicon.png"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      Simplified Coding
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <p style="display:inline-block;" >
              Αρχική
              <i class="fa-regular fa-house" ></i>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/lessons">
            <p style="display:inline-block;" >
              Μαθήματα
              <i class="fa-regular fa-book"></i>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/news">
            <p style="display:inline-block;" >
              Newsletter
              <i class="fa-regular fa-newspaper"></i>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about">
            <p style="display:inline-block;" >
              Σχετικά για εμάς
              <i class="fa-regular fa-circle-info"></i>
            </p>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
