---
let { href, icon } = Astro.props
---

<li class="mx-20 my-[1.65rem] text-sc-navbar text-lg font-semibold">
    <i class={icon}></i>
    <a class="hover:underline" href={href}>
        <slot></slot>
    </a>
</li>