---
let { href, icon } = Astro.props
---

<li class="m-5 my-0 py-5 px-0 text-sc-navbar text-2xl font-bold opacity-75 hover:opacity-100 relative nav-link">
    <i class={icon}></i>
    <a href={href}>
        <slot></slot>
    </a>
</li>
<style>

  .nav-link::before {
    transition: 500ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #9fa1a4;
    width: 0%;
    bottom: 10px;
  }

  .nav-link:hover::before {
    width: 100%;
  }
</style>