<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
let { href, icon } = Astro.props
---

<li class="m-5 my-0 mt-1 py-5 px-0 text-navbar-icons text-2xl font-bold opacity-75 hover:opacity-100 relative nav-link">
    <i class={icon}></i>
    <a href={href} class="text-navbar-text">
        <slot></slot>
    </a>
</li>

<style>
  .nav-link::before {
    transition: 500ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: antiquewhite;
    width: 0%;
    bottom: 16px;
    border-radius: 10px;
  }

  .nav-link:hover::before {
    width: 100%;
  }
</style>