---
import NavbarElement from "./NavbarElement.astro"
---

<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->
<nav class="flex">
    <a href="/" aria-label="Simplified Coding">
        <img
            src="/Brand/cover.png"
            alt="Logo"
            width="218.75"
            class="inline-block"
        />
    </a>

    <ul class="w-full flex justify-evenly" transition:animate="initial">
        <NavbarElement href="/" icon="fa-regular fa-house" transition:name="nbar-1"> Αρχική </NavbarElement>
        <NavbarElement href="/lessons" icon="fa-regular fa-book" transition:name="nbar-2"> Μαθήματα </NavbarElement>
        <NavbarElement href="/news" icon="fa-regular fa-newspaper" transition:name="nbar-3"> Newsletter </NavbarElement>
        <NavbarElement href="/about" icon="fa-regular fa-circle-info" transition:name="nbar-4"> About us </NavbarElement>
        <NavbarElement href="/donations" icon="fa-solid fa-hand-holding-heart" transition:name="nbar-5"> Δωρεές </NavbarElement>
        <NavbarElement href="/hackolympia" icon="fa-solid fa-chalkboard-user" transition:name="nbar-6"> Hackolympia </NavbarElement>
    </ul>
</nav>