---
const { id } = Astro.props;
---

<div class="accordion m-3" id={`optionalTask-${id}`} data-bs-theme="dark">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-controls="collapseOne"
      >
        Εργασία
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent={`#optionalTask-${id}`}
    >
      <div class="accordion-body"><slot /></div>
    </div>
  </div>
</div>
