---
const { card_header, card_title, card_button_href, card_button_text } =
    Astro.props;
---

<div class="card">
    <div class="card-header">{card_header}</div>
    <div class="card-body">
        <h5 class="card-title">{card_title}</h5>
        <p class="card-text"><slot /></p>
        <a href={card_button_href} class="btn btn-primary">{card_button_text}</a
        >
    </div>
</div>
