* {
    font-family: Consolas, monaco, monospace;
}

body {
    background-color: gray;
    margin-left: 5%;
    margin-right: 5%;
}

#banner {
    background-size: cover;
    background-position: bottom center;
    height: 200px;
    width: 100%;
}

#banner-name {
    border: solid 3px white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    color: bisque;
    text-align: center;
}

.header h2 {
    background-color: black;
    color: white;
}

.header {
    background-color: blanchedalmond;
}

.header h2, h3, p {
    padding-left: 1%;
    padding-right: 1%;
}

.header iframe {
    position: center;
    padding-left: 1%;
    padding-bottom: 2%;
}

#navigation {
    position: center;
}

#navigation-text {
    color: black;
    position: center;
}

#copyright {
    background-color: grey;
    color: white;
    border: solid 3px black
}