<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../assets/css/fontawesome.min.css";
import "../assets/css/brands.css";
import "../assets/css/solid.css";
import { ViewTransitions } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="en" class="bg-neutral-800">
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content="Astro description"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.png"/>
  <meta name="generator" content={Astro.generator}/>
  <title>Simplified Coding</title>

  <ViewTransitions></ViewTransitions>
</head>

<div transition:persist="">
  <Navbar/>
</div>

<body>
  <script>
    import {cookiesEnabled, getCookie, hasCookie, revalidateCookies, setCookie} from "../lib/cookie";
    import {getEntry} from "astro:content";
    import {refreshLessons} from "../lib/lessonTracking";

    document.addEventListener("astro:page-load", () => {
      if (
        document.getElementById("doc-body") &&
        document.getElementById("doc-body-mobile")
      ) {
        console.log("[INFO] Mobile Page Found");
        if (
          /iPhone|iPad|iPod|Android|webOS|BlackBerry|Windows Phone/i.test(
            navigator.userAgent
          )
        ) {
          console.log("[INFO] Switching to mobile page");
          document.getElementById("doc-body")?.remove();
        } else {
          console.log("[INFO] Switching to desktop page");
          document.getElementById("doc-body-mobile")?.remove();
        }

      } else {
        console.log("[INFO] Mobile Page 404!");
      }
      
      document.getElementById("layout-scroll").hidden = true;
      document.getElementById("layout-body").hidden = false;
    })

    if (!hasCookie("accepted")) {
      setCookie("accepted", "true")
    } else {
      if (cookiesEnabled()) {
        refreshLessons()
        revalidateCookies()
      }
    }
  </script>

  <div class="bg-sc-background" transition:animate="slide">
    <div id="layout-body" hidden>
      <slot/>
    </div>
    <div id="layout-scroll" class="text-white animate-pulse">
      <div class="flex justify-center">
        <div class="mx-2">
          <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        </div>
        <h2 class="inline mx-2">Please Wait / Παρακαλούμε Περιμένετε...</h2>
      </div>
    </div>
  </div>
</body>

<div class="footer">
  <Footer/>
</div>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,700;1,900&display=swap");
</style>
</html>
