<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Bootstrap/Card.astro";
---

<Layout>
  <div id="doc-body">
    <div>

      <br/>
      <br/>
      <br/>

      <div id="content">
        <h1> Σύντομα κοντά σας  </h1>
        <h3> (Εντός του Ιουλίου) *ελπίζουμε  </h3>
      </div>

      <br/>
      <br/>

    </div>
  </div>
    <style>
        h1 {
            color: rgb(249, 184, 106);
            font-size: 48px;
            font-weight: 700;
            text-align: center;
        }
        h3 {
            color: rgb(249, 213, 106);
            font-size: 32px;
            font-weight: 700;
            text-align: center;
        }
    </style>
  <!-- Spacing for footer -->
  <br/>
  <br/>
</Layout>