<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Bootstrap/Card.astro";
---

<Layout>
  <div id="doc-body">
    <div>
      <br/>

      <div class="d-flex justify-content-center" style="color: white">
        <img src="/public/icons/hackolympia.png" width="100px" class="">
        <h1 id="hackolympia_title"> Hackolympia: Διαδυκτιακά μαθήματα προγραμματισμού </h1>
      </div>

      <br/>
      <br/>

      <div class="p-2 d-flex justify-content-center">
        <div class="">
          <div class="">
                <br>
                <iframe src="https://discord.com/widget?id=1109766105603510275&theme=dark" width="550" height="300px" allowtransparency="false" frameborder="0" <iframe src="https://discord.com/widget?id=1109766105603510275&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                <br><br>
                Μπες στον discord server μας για να μαθαίνεις οτιδήπωτε νέο συμβαίνει στο hackolympia, νέα μαθήματα, προγράμματα 
                αλλά και για να συμμετέχεις στις συζητήσεις μαζί μας και να μας δίνεις ιδέες για νέα μαθήματα που θα μπορούσαμε 
                να κάνουμε.
          </div>

          <div class="">
            <br>
            <i class="fa-solid fa-question fa-2x"></i> 
            Το hackolympia είναι μία ομάδα μαθητών από όλη την Ελλάδα οι οποίοι ασχολούνται με τον προγραμματισμό.
            Κάθε εβδομάδα συναντιόμαστε μέσω του discord server μας για να μάθουμε για μία νέα γλώσσα προγραμμτισμού ή 
            και κάτι διαφορετικό (όπως 3D designing, Arduino, git&github)και να φτιάξουμε project.
            <br><br>
            <i class="fa-solid fa-clock fa-2x"></i>
            Από τον Σεπτέμβριο μέχρι και τον Απρίλιο, σχεδόν κάθε εβδομάδα συναντιόμαστε μέσω κλήσης σε ώρα που έχουμε 
            συμφωνήσει σαν κοινότητα. Μπορεί να αλλάξει το πρόγραμμα εν μέσω της χρονιάς λόγο αιτήματος της κοινότητας
            ή λόγω κάποιας άλλης ανάγκης. <br> 
            *Αν και η hackolympia θα λειτουργήσει για την χρονιά 2024-2025 πιθανότατα τον
            Απρίλιο του 2025 θα σταματήσουν αυτά τα μαθήματα (όπως το simplified coding φυσικά και θα λειτουργεί κανονικά).
            <br><br>
            <i class="fa-solid fa-graduation-cap fa-2x"></i>
            Στα περισσότερα μαθήματα δεν χρειάζεται προηγούμενη γνώση πάνω στο αντικειμενο που ασχολούμαστε, σε διαφορετική
            περίπτωση θα ενημερώνεστε μέσω e-mail. Τα περισσότερα μαθήματα θα προέρχονται από μαθήματα της ιστοσελίδας του 
            Simplified Coding όμως τι περισσότερες φορές θα μιλάμε και για πράγματα που τα μαθήματα παραλείπουν αλλά και σε 
            τυχόν ερωτήσεις.
            <br>
            <div><a href="https://forms.gle/bxqAkT82DTodP8Hx8" target="_blank"> <button> Εγγράψου τώρα στο hackolympia </button> </a>  Ή  <a href="https://hackolympia.club/" target="_blank"> <button> Επισκέψου την ιστοσελίδα του hackolympia </button> </a></div>
            <style>
                #hackolympia_banner {
                    margin-left: 20px;
                }
                #hackolympia_title {
                    margin-top: 20px;
                    margin-left: 15px;
                }
                #buttons {
                    padding-left: 45px;
                    font-size: 20px
                }
                #button {
                    color: rgb(45, 45, 45);
                    background-color: rgb(83, 120, 176);
                    border-radius: 7px;
                }
                #button:hover {
                    color: rgb(60, 60, 60);
                    background-color: rgb(110, 153, 214);
                    border-radius: 7px;
                }
            </style>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Spacing for footer -->
  <br/>
  <br/>
</Layout>