<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
import Layout from "../../layouts/Layout.astro";
---

<Layout>

  <div class="absolute mt-3 ml-60% h-11">

    <iframe src="https://discord.com/widget?id=1129386549348417577&theme=dark" width="500" height="450" class="mt-6"></iframe>
  
  </div>
  <div class="absolute ml-51% mt-35% font-bold text-lg">

      <a href="https://forms.gle/bxqAkT82DTodP8Hx8" target="_blank"> 
        <button class="text-button_text hover:text-button_text_hover bg-button hover:bg-button_hover rounded-lg p-2 font-bold"> Εγγράψου τώρα στο hackolympia </button> 
      </a>  Ή  
  
      <a href="https://hackolympia.club/" target="_blank"> 
        <button class="text-button_text hover:text-button_text_hover bg-button hover:bg-button_hover rounded-lg p-2 font-bold"> Επισκέψου την ιστοσελίδα του hackolympia </button> 
      </a>

  </div>

  <table class="ml-4">

    <tr>
        <td>
            <img  class="inline-block my-3" src="/public/icons/hackolympia.png" width="60px">
            <h1   class="inline-block ml-1 my-3 font-bold text-2xl"> Hackolympia: Διαδυκτιακά μαθήματα προγραμματισμού </h1>
        </td>
    </tr>

    <tr>
        <td class="bg-sc-card-bg-light w-730px pl-10 py-4 text-zinc-300 my-10 border-4 border-zinc-200">
          <i class="fa-brands fa-discord fa-2x"></i>
            Μπες στον discord server μας για να μαθαίνεις οτιδήπωτε νέο συμβαίνει στο hackolympia, νέα μαθήματα, προγράμματα αλλά 
            και για να συμμετέχεις στις συζητήσεις μαζί μας και να μας δίνεις ιδέες για νέα μαθήματα που θα μπορούσαμε να κάνουμε.
            <br><br>
          </td>
    </tr>

    <tr>
        <td class="bg-sc-card-bg-light w-730px pl-10 py-4 text-zinc-300 border-4 border-zinc-200">
          <i class="fa-solid fa-question fa-2x"></i> 
          Το hackolympia είναι μία ομάδα μαθητών από όλη την Ελλάδα οι οποίοι ασχολούνται με τον προγραμματισμό.
          Κάθε εβδομάδα συναντιόμαστε μέσω του discord server μας για να μάθουμε για μία νέα γλώσσα προγραμμτισμού ή 
          και κάτι διαφορετικό (όπως 3D designing, Arduino, git&github)και να φτιάξουμε project.
          <br><br>
        </td>
    </tr>

    <tr>
        <td class="bg-sc-card-bg-light w-730px pl-10 py-4 text-zinc-300 border-4 border-zinc-200">
          <i class="fa-solid fa-clock fa-2x"></i>
            Από τον Σεπτέμβριο μέχρι και τον Απρίλιο, σχεδόν κάθε εβδομάδα συναντιόμαστε μέσω κλήσης σε ώρα που έχουμε 
            συμφωνήσει σαν κοινότητα. Μπορεί να αλλάξει το πρόγραμμα εν μέσω της χρονιάς λόγο αιτήματος της κοινότητας
            ή λόγω κάποιας άλλης ανάγκης. <br>

            *Αν και η hackolympia θα λειτουργήσει για την χρονιά 2024-2025 πιθανότατα τον
            Απρίλιο του 2025 θα σταματήσουν αυτά τα μαθήματα (όμως το simplified coding φυσικά και θα λειτουργεί κανονικά).
          <br><br>
        </td>
    </tr>
  </table>

  <!-- Spacing for footer -->
  <br/>
  <br/>
</Layout>