# SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>
#
# SPDX-License-Identifier: CC0-1.0

on:
  push:
  workflow_dispatch:
  pull_request:

jobs:
  reuse-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@v2.0.0